<mat-card>
    <mat-form-field class="matForm100">

        <mat-label [attr.style]="style">{{campo.nombre}} {{isObligatorio()}}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="campo.value" name="{{campo.campoId}}"
            id="{{campo.campoId}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-card>