<mat-card>
    <mat-form-field class="matForm100">

        <label [attr.style]="style">{{campo.nombre}} {{isObligatorio()}}</label>
        <input matInput type="email" [(ngModel)]="campo.value"  email="true" (blur)="sendItem(campo)"
            name="{{campo.campoId}}" id="{{campo.campoId}}" (change)="changed($event)">

    </mat-form-field>
</mat-card>