<mat-card>
  <div class="mat-form-field-flex">
    <div class="mat-form-field-infix">
      <label [attr.style]="style">{{campo.nombre}} {{isObligatorio()}}</label>

      <input type="time" style="width: 70%;" class="form-control" [(ngModel)]="campo.value" (blur)="sendItem(campo)"
        maxlength="{{campo.longitud}}" name="{{campo.campoId}}" id="{{campo.campoId}}" mdbInput />
    </div>
  </div>
</mat-card>