<mat-card>
  <mat-form-field class="matForm100">

    <label [attr.style]="style">{{campo.nombre}} {{isObligatorio()}}</label>
    <input type="text" matInput [(ngModel)]="campo.value" (blur)="sendItem(campo)" maxlength="{{campo.longitud}}"
      name="{{campo.campoId}}" id="{{campo.campoId}}" >
  </mat-form-field>
</mat-card>