<mat-card>
    <mat-form-field class="matForm100">

        <label [attr.style]="style">{{campo.nombre}} {{isObligatorio()}}</label>
        <input type="number" [(ngModel)]="campo.value" (blur)="sendItem(campo)" 
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            matInput maxlength="{{campo.longitud}}" min="0" pattern="[0-9]*" name="{{campo.campoId}}"
            id="{{campo.campoId}}" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
    </mat-form-field>
</mat-card>