<mat-card>
    <mat-form-field class="matForm100">
        <label [attr.style]="style">{{campo.nombre}} {{isObligatorio()}}</label>
        <input type="number" style="border: 1px black;
border-bottom-color: black;
border-style: solid;" [(ngModel)]="campo.value" (blur)="sendItem(campo)"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            matInput maxlength="{{campo.longitud}}" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            name="{{campo.campoId}}" id="{{campo.campoId}}" (change)="changed($event)">
    </mat-form-field>
</mat-card>