<mat-card>
  <mat-form-field class="matForm100">

    <label [attr.style]="style">{{campo.nombre}} {{isObligatorio()}}</label>

    <mat-select [(ngModel)]="campo.value" (blur)="sendItem(campo)" (change)="sendItem(campo)" name="{{campo.campoId}}"
      id="{{campo.campoId}}">
      <mat-option value="" selected>Seleccione</mat-option>
      <mat-option *ngFor="let res of respuestaCampoList" value="{{res.fvRespuesta.valor}}">
        {{res.fvRespuesta.valor}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>