<div id="divContaineradd" class="container-window">
  <mat-card class="centerMatCardFilterAssociated">
    <form name="formRegistro" [formGroup]="formGeneral">
      <span class="login100-form-title p-b-34 p-t-27">
        Gestionar Formulario
      </span>
      <br>
      <div class="row">

        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <input type="text" placeholder="Nombre" [(ngModel)]="formulario.nombre" matInput maxlength="200"
                formControlName="nombre" required name="nombre" id="nombre">
              <mat-error class="matError" *ngIf="formGeneral.get('nombre').hasError('required')">Campo requerido
              </mat-error>
            </mat-form-field>

          </div>
        </div>


        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <input type="text" placeholder="Descripci&oacute;n" [(ngModel)]="formulario.descripcion" matInput
                maxlength="300" formControlName="descripcion" name="descripcion" id="descripcion">
            </mat-form-field>

          </div>
        </div>


        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">

              <mat-label>Fecha Vigencia</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="formulario.fechaVigencia"
                formControlName="fechaVigencia" [min]="maxDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <mat-error class="matError" *ngIf="formGeneral.get('fechaVigencia').hasError('required')">Campo
                requerido</mat-error>
            </mat-form-field>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group row">
            <label>Banner</label>

            <div class="custom-file" style="width:60%">
              <input #fileInput type="file" class="custom-file-input" id="customFileLang" lang="es" ng2FileSelect
                [uploader]="uploader">
              <label class="custom-file-label" for="customFileLang">
                {{getFileName()}}
              </label>
            </div>
          </div>
        </div>




        <div class="col-sm">
          <div class="form-group row">

            <mat-form-field class="matForm70">
              <mat-select placeholder="Frecuencia" [(ngModel)]="formulario.frecuencia" formControlName="frecuencia">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option value="ANUAL">Anual</mat-option>
                <mat-option value="DIARIA">Diaria</mat-option>
                <mat-option value="MENSUAL">Mensual</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <mat-select placeholder="Color Fuente" [(ngModel)]="formulario.fvColor.colorId" formControlName="fvColor">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option *ngFor="let fvColor of fvColorList" [value]="fvColor.colorId">{{fvColor.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-sm">
          <div class="form-group row">

            <mat-form-field class="matForm70">
              <mat-select placeholder="Genera No Asociados" [(ngModel)]="formulario.generaNoAsociados" required
                formControlName="generaNoAsociados">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option value="SI">Si</mat-option>
                <mat-option value="NO">No</mat-option>
              </mat-select>
              <mat-error class="matError" *ngIf="formGeneral.get('generaNoAsociados').hasError('required')">Campo
                requerido</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="col-sm">
          <div class="form-group row">

            <mat-form-field class="matForm70">
              <mat-select placeholder="Css Externo" [(ngModel)]="formulario.indCssExterno" required
                formControlName="indCssExterno" (selectionChange)="getCssExternoChange($event)">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option value="SI">Si</mat-option>
                <mat-option value="NO">No</mat-option>
              </mat-select>
              <mat-error class="matError" *ngIf="formGeneral.get('indCssExterno').hasError('required')">Campo
                requerido</mat-error>
            </mat-form-field>

          </div>
        </div>


        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <input type="text" placeholder="Url Css Externo" maxlength="200" [(ngModel)]="formulario.urlCssExterno"
                matInput [readonly]="disabledCssExterno" formControlName="urlCssExterno" name="urlCssExterno"
                id="urlCssExterno">
            </mat-form-field>

          </div>
        </div>
      </div>
      <div class="row">


        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <mat-select placeholder="Tipograf&iacute;a" [(ngModel)]="formulario.fvTipografia.tipografiaId"
                formControlName="fvTipografia">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option *ngFor="let fvTipografia of fvTipografiaList" [value]="fvTipografia.tipografiaId">
                  {{fvTipografia.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>


        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <mat-select placeholder="Tipo Reporte" [(ngModel)]="formulario.fvTipoReporte.tipoReporteId"
                formControlName="fvTipoReporte">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option *ngFor="let fvTipoReporte of fvTipoReporteList" [value]="fvTipoReporte.tipoReporteId">
                  {{fvTipoReporte.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div class="col-sm">
          <div class="form-group row">

            <mat-form-field class="matForm70">
              <mat-select placeholder="Genera Asociados" [(ngModel)]="formulario.generaAsociados" required
                formControlName="generaAsociados">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option value="SI">Si</mat-option>
                <mat-option value="NO">No</mat-option>
              </mat-select>
              <mat-error class="matError" *ngIf="formGeneral.get('generaAsociados').hasError('required')">Campo
                requerido</mat-error>
            </mat-form-field>

          </div>
        </div>
      </div>
      <div class="row">


        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <input type="text" placeholder="Ruta Reporte" maxlength="300" [(ngModel)]="formulario.rutaReporte"
                matInput formControlName="rutaReporte" name="rutaReporte" id="rutaReporte">
            </mat-form-field>

          </div>
        </div>

        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <mat-select placeholder="Genera Reporte Autom&aacute;tico" [(ngModel)]="formulario.generaReporteAuto"
                required formControlName="generaReporteAuto">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option value="SI">Si</mat-option>
                <mat-option value="NO">No</mat-option>
              </mat-select>
              <mat-error class="matError" *ngIf="formGeneral.get('generaReporteAuto').hasError('required')">Campo
                requerido</mat-error>
            </mat-form-field>

          </div>
        </div>




        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <input type="text" placeholder="Nombre Archivo Generado" maxlength="200"
                [(ngModel)]="formulario.nombreArchivoReporte" matInput formControlName="nombreArchivoReporte"
                name="nombreArchivoReporte" id="nombreArchivoReporte">
            </mat-form-field>

          </div>
        </div>



      </div>
      <div class="row">


        <div class="col-4">
          <div class="form-group row">
            <div class="mat-form-field-flex">
              <div class="mat-form-field-infix">
                <label for="horario" style="color: gray;
                    font-size: smaller;">Horario</label>
                <input type="time" style="width: 70%;" id="horario" [(ngModel)]="formulario.horario"
                  class="form-control" name="horario" value="" formControlName="horario" mdbInput
                  placeholder="Horario" />


              </div>
            </div>
          </div>
        </div>

        
        <div class="col-4">

          <div class="form-group row">
            <label>Estado&nbsp;</label>
            <mat-slide-toggle placeholder="Estado" id="estado" required [(ngModel)]="estado" formControlName="estado">
              {{estado ? 'Activo' : 'Inactivo'}}
            </mat-slide-toggle>

          </div>
        </div>
      </div>
      <br />
      <div class="scaleView pb-2">
        <div style="text-align: center;">
          <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="submit()">
            <i class="material-icons">save</i>&nbsp;
            Guardar
          </button>
          &nbsp;<button color="primary" mat-raised-button (click)="getAll(1)">
            <i class="material-icons">search</i>&nbsp;
            Buscar
          </button>&nbsp;
          <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="clean()">
            <i class="material-icons">delete</i>&nbsp;
            Limpiar
          </button>

        </div>
      </div>

    </form>
  </mat-card>
</div>
<br>
<div id="divContaineradd" class="container-window">
  <mat-card class="centerMatCardFilterAssociated">
    <span class="login100-form-title p-b-10 p-t-27">
      Listado de Formularios
    </span>

    <div class="row pt-2">
      <div class="col-sm-6">
        <div class="form-group row">
          <div class="col-8">
            <mat-form-field style="width: 80%;">
              <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtro" matInput name="filtro"
                id="filtro">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-6"></div>
    </div>

    <div #data class="table  table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
      <div style="text-align: center;">
        <table class="table" style="width: 98%;" matSort mat-table [dataSource]="formularioList">
          <!-- Edit Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acci&oacute;n
            </th>
            <td mat-cell *matCellDef="let element" style="word-wrap: break-word">
              <button (click)="edit(element)">
                <i title="Editar" class="fa fa-edit"> </i>&nbsp;
              </button>
              <button (click)="addAgrupacion(element)">
                <i title="Agrupaciones" class="fa fa-object-group"> </i>&nbsp;
              </button>
              <button (click)="preview(element)">
                <i title="Visualizar Formulario" class="fa fa-address-card-o"></i>&nbsp;
              </button>
              <button (click)="view(element)" *ngIf="!isDetailVisible">
                <i title="Visualizar" class="material-icons" style="font-size: 14px;">visibility</i>&nbsp;
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="formularioId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
            </th>
            <td mat-cell *matCellDef="let element"> {{element.formularioId}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre
            </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripci&oacute;n
            </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaVigencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Vigencia
            </th>
            <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaVigencia)}}</td>
          </ng-container>
          <ng-container matColumnDef="banner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Banner
            </th>
            <td mat-cell *matCellDef="let element">
              <a style="cursor: pointer;" role="button" matTooltip="descargar" *ngIf="!element.banner==''"
                (click)="downloadAdjunto(element.formularioId, element.nombreAdjunto)">
                {{element.nombreAdjunto}}
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="frecuencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Frecuencia
            </th>
            <td mat-cell *matCellDef="let element"> {{element.frecuencia}} </td>
          </ng-container>
          <ng-container matColumnDef="generaAsociados">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genera Asociados
            </th>
            <td mat-cell *matCellDef="let element"> {{element.generaAsociados}} </td>
          </ng-container>
          <ng-container matColumnDef="generaNoAsociados">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genera No Asociados
            </th>
            <td mat-cell *matCellDef="let element"> {{element.generaNoAsociados}} </td>
          </ng-container>
          <ng-container matColumnDef="generaReporteAuto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genera Reporte Autom&aacute;tico
            </th>
            <td mat-cell *matCellDef="let element"> {{element.generaReporteAuto}} </td>
          </ng-container>
          <ng-container matColumnDef="nombreArchivoReporte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Archivo Reporte
            </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreArchivoReporte}} </td>
          </ng-container>

          <ng-container matColumnDef="horario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Horario
            </th>
            <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
          </ng-container>
          <ng-container matColumnDef="indCssExterno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Css Externo
            </th>
            <td mat-cell *matCellDef="let element"> {{element.indCssExterno}} </td>
          </ng-container>
          <ng-container matColumnDef="urlCssExterno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Url Css Externo
            </th>
            <td mat-cell *matCellDef="let element"> {{element.urlCssExterno}} </td>
          </ng-container>
          <ng-container matColumnDef="rutaReporte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ruta Reporte
            </th>
            <td mat-cell *matCellDef="let element"> {{element.rutaReporte}} </td>
          </ng-container>
          <ng-container matColumnDef="fvColor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color Fuente
            </th>
            <td mat-cell *matCellDef="let element"> {{getNameElement(element.fvColor)}} </td>
          </ng-container>
          <ng-container matColumnDef="fvTipografia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipograf&iacute;a
            </th>
            <td mat-cell *matCellDef="let element"> {{getNameElement(element.fvTipografia)}} </td>
          </ng-container>
          <ng-container matColumnDef="fvTipoReporte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Reporte
            </th>
            <td mat-cell *matCellDef="let element"> {{getNameElement(element.fvTipoReporte)}} </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado
            </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
          </ng-container>

          <!-- Fecha Creacion Column -->
          <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de
              Creaci&oacute;n </th>
            <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaCreacion)}} </td>
          </ng-container>

          <!-- Fecha Modificacion Column -->
          <ng-container matColumnDef="fechaModificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de
              Modificaci&oacute;n </th>
            <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaModificacion)}}
            </td>
          </ng-container>

          <!-- Usuario Creacion Column -->
          <ng-container matColumnDef="usuarioCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de
              Creaci&oacute;n </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioCreacion}} </td>
          </ng-container>

          <!-- Usuario Modificacion Column -->
          <ng-container matColumnDef="usuarioModificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de
              Modificaci&oacute;n </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioModificacion}}
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="isDetailVisible ? displayedColumnsDetail: displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: isDetailVisible ? displayedColumnsDetail: displayedColumns;">
          </tr>

        </table>

        <div class="centerMatCard"
          [hidden]="formularioList != undefined && formularioList.data.length == 0 || isDetailVisibleCol">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>


  </mat-card>
</div>

<p-dialog header="Listado de Formulario" [(visible)]="isDetailVisible" (onHide)="closeModal()" [modal]="true"
  width="95%" [closable]="true" [responsive]="true" [style]="{width: '95%'}" [minY]="200" [maximizable]="true">

  <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
    <div style="text-align: center;" [innerHTML]="tableHTML">

    </div>
  </div>
</p-dialog>



<p-dialog header="Listado de Agrupaciones" [(visible)]="isCampoVisible" (onHide)="closeModalCampo()" [modal]="true"
  width="95%" [closable]="true" [responsive]="true" [style]="{width: '95%'}" [minY]="200" [maximizable]="true">

  <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
    <form name="formRegistro" style="margin-top: 2%;margin-left: 2%;">
      <div class="row">

        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <mat-select placeholder="Agrupaci&oacute;n" name="agrupacion"
                [(ngModel)]="agrupacionFormulario.agrupacionId" required
                (selectionChange)="getAgrupacionCampoAll($event)">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option *ngFor="let res of agrupacionList" [value]="res.agrupacionId">
                  {{res.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div class="col-sm">
          <div class="form-group row">
            <mat-form-field class="matForm70">
              <mat-select placeholder="Campo" name="campo"
                [(ngModel)]="agrupacionFormulario.fvAgrupacionCampo.agrupacionCampoId">
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option *ngFor="let res of campoList" [value]="res.agrupacionCampoId">
                  {{res.fvCampo.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
      </div>

      <br />
      <div class="scaleView pb-2">
        <div style="text-align: center;">
          <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="submitCampo()">
            <i class="material-icons">save</i>&nbsp;
            Guardar
          </button>
          &nbsp;
          <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="clearCampo()">
            <i class="material-icons">delete</i>&nbsp;
            Limpiar
          </button>

        </div>
      </div>
    </form>
    <br>
    <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
      <table class="table" style="width: 98%;" mat-table [dataSource]="formularioAgrupacionCampoList">
        <!-- Edit Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acci&oacute;n
          </th>
          <td mat-cell *matCellDef="let element" style="word-wrap: break-word">
            <button (click)="removeCampo(element)">
              <i title="Eliminar" class="fa fa-trash"> </i>&nbsp;
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="formularioId">
          <th mat-header-cell *matHeaderCellDef> Id Formulario
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fvFormulario.formularioId}} </td>
        </ng-container>

        <ng-container matColumnDef="formulario">
          <th mat-header-cell *matHeaderCellDef> Formulario
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fvFormulario.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="agrupacion">
          <th mat-header-cell *matHeaderCellDef> Agrupaci&oacute;n
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fvAgrupacionCampo.fvAgrupacion.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="campo">
          <th mat-header-cell *matHeaderCellDef> Campo
          </th>
          <td mat-cell *matCellDef="let element"> {{element.fvAgrupacionCampo.fvCampo.nombre}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsCampo"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCampo;"></tr>

      </table>

      <div class="centerMatCard"
        [hidden]="formularioAgrupacionCampoList != undefined && formularioAgrupacionCampoList.data.length == 0">
        <mat-paginator #paginatorFormularioAgrupacionCampo [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>

  </div>
</p-dialog>