<div class="row" style="
margin-left: 15% !important;
margin-right: 10% !important;">
    <div class="col-sm-9 col-xs-12 main-content-info">
        <div class="row content-params">
            <div id="divContaineradd" class="container-window">


                <p style="text-align: center;">
                    <img [src]="getBanner()" [attr.style]="banerVisible" style="height:250px; width:900px" />
                </p>
                <form name="formRegistro" [formGroup]="formGeneral">

                    <p style="text-align: center;">
                        <mat-card>
                            <mat-card-header >
                            </mat-card-header>
                            <legend [attr.style]="getCustomStyle()">{{formulario.nombre}}</legend>
                        </mat-card>
                    </p>
                    <br>
                    <div class="col-md-12">
                        <div class="form-group col-md-12 fieldAjax744"
                            *ngFor="let m of formularioAgrCamposList; let i = index">


                            <input-formulario *ngIf="showField(m, 'TEXTO')" [campo]="m.fvAgrupacionCampo.fvCampo"
                                [style]="getCustomStyle()" (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)">
                            </input-formulario>
                            <select-formulario *ngIf="showField(m, 'COMBO,TIPO_DOCUMENTO')"
                                [campo]="m.fvAgrupacionCampo.fvCampo" [style]="getCustomStyle()"
                                (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)"></select-formulario>
                            <number-formulario *ngIf="showField(m, 'NUMERICO,DOCUMENTO')"
                                [campo]="m.fvAgrupacionCampo.fvCampo" [style]="getCustomStyle()"
                                (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)"></number-formulario>
                            <date-formulario *ngIf="showField(m, 'FECHA')" [campo]="m.fvAgrupacionCampo.fvCampo"
                                [style]="getCustomStyle()" (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)">
                            </date-formulario>
                            <email-formulario *ngIf="showField(m, 'EMAIL,CORREO')" [campo]="m.fvAgrupacionCampo.fvCampo"
                                [style]="getCustomStyle()" (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)">
                            </email-formulario>
                            <phone-formulario *ngIf="showField(m, 'PHONE,CELULAR,TELEFONO')"
                                [campo]="m.fvAgrupacionCampo.fvCampo" [style]="getCustomStyle()"
                                (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)"></phone-formulario>
                            <color-formulario *ngIf="showField(m, 'COLOR')" [campo]="m.fvAgrupacionCampo.fvCampo"
                                [style]="getCustomStyle()" (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)">
                            </color-formulario>
                            <selectM-formulario *ngIf="showField(m, 'COMBO_MULTIPLE')"
                                [campo]="m.fvAgrupacionCampo.fvCampo" [style]="getCustomStyle()"
                                (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)"></selectM-formulario>
                            <text-formulario *ngIf="showField(m, 'TEXTAREA')" [campo]="m.fvAgrupacionCampo.fvCampo"
                                [style]="getCustomStyle()" (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)">
                            </text-formulario>
                            <hora-formulario *ngIf="showField(m, 'HORA')" [campo]="m.fvAgrupacionCampo.fvCampo"
                                [style]="getCustomStyle()" (event)="putItemValue($event, m.fvAgrupacionCampo.fvCampo)">
                            </hora-formulario>



                        </div>

                        <br />
                        <div class="scaleView pb-2">
                            <div style="text-align: center;">
                                <button mat-raised-button style="background-color: #73bf45; color: white;"
                                    (click)="submit()">
                                    <i class="material-icons">save</i>&nbsp;
                                    Guardar
                                </button> &nbsp;
                                <button mat-raised-button style="background-color: #73bf45; color: white;"
                                    (click)="clean()">
                                    <i class="material-icons">delete</i>&nbsp;
                                    Limpiar
                                </button> &nbsp;
                                <button mat-raised-button style="background-color: #73bf45; color: white;"
                                    (click)="return()">
                                    <i title="Volver" class="material-icons"> assignment_return</i>&nbsp;
                                    Volver
                                </button>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<br><br>