
  <div class="line d-none d-md-block" style="position: absolute;height: 100vh;">
    <img src="assets/img/line.png" height="100%" >
  </div>
  <div class="row align-items-center bg-img bg-content" style=" ">
    <div class="col">
      <div class="flex-center" style="height: 100vh;">
        <div class="card card-shadow" >
          <div class="card-body">
            <img class="logo" style="margin-top: 6px;" src="./assets/img/Logo-Coomeva.png">
            <p class="title" style="margin-bottom: .5rem;text-align: center;margin-top: .5rem;">Bienvenido a tu Formulario Validador</p>
            <div class="row">
              <label class="col-sm-6 col-md-4 " style="padding-left: 0">Usuario</label>
              <input class="col form-control" type="text" placeholder="Usuario" [(ngModel)]="usuario"></div>
            <div class="row">
              <label class="col-sm-6 col-md-4" style="padding-left: 0">Contrase&ntilde;a</label>
              <input class="col form-control" type="password" placeholder="Contraseña"
                     [(ngModel)]="password">
            </div>
            <div class="row">
              <label class="col-sm-6 col-md-4" style="padding-left: 0">Empresa</label>
              <mat-select class="col form-control" name="empresa" placeholder="Empresa"
                          [(ngModel)]="empresa" required>
                <mat-option value="" selected>Seleccione</mat-option>
                <mat-option *ngFor="let empresa of empresaList" value="{{empresa.empresaId}}">
                  {{empresa.nombre}}</mat-option>
              </mat-select>
            </div>
            <div class="pt-3 d-flex justify-content-center">
              <a class="btn btn-color" routerLink="" (click)="login()">Ingresar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
<div class="row align-content-center">
	<div class="col bg footer">
		<p style="color: white !important;">Grupo Empresarial Cooperativo Coomeva<br>
			Todos los derechos reservados - 2019</p>
	</div>
</div>-->
