@keyframes ui-progress-spinner-color {
    100%, 0% {
        stroke: rgb(252, 252, 252);
        stroke: white;
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    40% {
        stroke: rgb(252, 252, 252);
        stroke: white;
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    66% {
        stroke: rgb(252, 252, 252);
        stroke: white;
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    80%, 90% {
        stroke: rgb(252, 252, 252);
        stroke: white;
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
}

.div-body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.divRight {
    width: 70%;
    height: 100%;
}

.divLeft {
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .9;
}

.outer {
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 294px;
}

.centerLogin {
    width: 80%;
    margin: auto;
    float: none;
}

.imgRigth {
    width: 100%;
    height: 100%;
}

.login-footer {
    font-size: 12px;
    color: #3f7c19;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

.wrap-login100 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.imgLoginTop {
    width: 250px;
    height: 78px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 28px;
}

.divTitel {
    background-color: #028c50;
    border-radius: 5px; 
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 36px;
}

.loginTitel {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.divInput {
    border-bottom-style: solid;
    border-bottom-color: rgb(252, 252, 252);
    border-width: 1px;
    padding-top: 28px;
    width: 80%;
    margin: auto;
    float: none;
}

.mat-card {
    border-radius: 33px;
    vertical-align: middle;
    background: linear-gradient(to bottom, white, 37%, #5dce18);
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(93, 206, 24, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(93, 206, 24, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(93, 206, 24, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(93, 206, 24, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(93, 206, 24, 1) 100%);
    /* ie10+ */
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(93, 206, 24, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5dce18', GradientType=0);
    /* ie6-9 */
}

.mat-icon {
    color: rgb(255, 255, 255);
}

input {
    padding-bottom: 3px;
    width: auto;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: Raleway-Bold;
}

.buttonDiv {
    width: 45%;
    margin: 0px auto;
    float: none;
    margin-top: 36px;
}

.button {
    background: #73bf45;
}

.content-spinner-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    width: 100%;
}

#buttonLogin.form-btn {
    font-family: Raleway-Bold;
    font-size: 14px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    min-width: 30%;
    margin: 0 auto;
    background-color: rgb(85,169,33);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

@media only screen and (max-width: 1221px) {
    .divRight {
        width: 60%;
        height: 100%;
    }
    .divLeft {
        width: 40%;
        height: 100%;
        background-color: white;
    }
}

@media only screen and (max-width: 772px) {
    .divRight {
        width: 0%;
        height: 100%;
    }
    .divLeft {
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

@media only screen and (max-height: 500px) {
    .divRight {
        width: 0%;
        height: auto;
    }
    .divLeft {
        width: 100%;
        height: 100%;
    }
    .div-body {
        height: auto;
    }
}
