.bg-img{
  background-image: url("../../assets/img/login2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.bg-content{
  padding-bottom: 7.7em;
  height: 100vh;
}
.btn-color{
  color: white !important;
  background-color: rgb(141,197,62);
  border-radius: 25px;
  padding: 0.1rem 1.5rem 0.1rem 1.5rem;
}

.line{
  z-index: 1100;
}

.logo{
  margin-left: 30%;
  height: 80px;
  margin-bottom: 1%
}


.form-control{
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #474b46;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}
.form-control:focus, input:focus, input:active{

    /*border-color: #474b46;
    -webkit-box-shadow: #474b46;
    box-shadow: #474b46;*/
  border-color: #474b46;
  box-shadow: inset 1px 0 0 0 rgba(42, 52, 47, 0.8);
}

label{
  font-family: Roboto;
  font-size: 1.3rem;
  color: #046633cf;
  font-weight: 400;
  padding-top: .5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.bg{
  background-color: #009353;
}
.card{
  background-color: rgba(220,219,216, 0.7);
  border-color: transparent;
  width: 35rem;
  height: 23rem;
}

/*@media (min-height: 721px) {
  .card{
    margin-top: 10%;
  }
}

@media (max-height: 720px) {
  .card{
    margin-top: 10%;
  }
}

@media (max-height: 610px) {
  .card{
    margin-top: 12%;
  }
}

@media (max-height: 520px) {
  .card{
    margin-top: 5%;
  }
}
@media (max-height: 420px) {
  .card{
    margin-top: 2%;
  }
}*/



.flex-center{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.title{
  color: rgb(1,118,58);
  font-size: 1.7em;
  font-weight: 900;
  font-family: roboto;
}


.footer{
  padding-top: 0.9em;
  color: white;
  font-size: small;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 0;
}

@media (device-height: 667px){
  .card{
    height: 32rem;
    margin-top: 3% !important;
  }
}
@media (device-height: 640px){
  .card{
    height: 30rem;
    margin-top: 13% !important;
  }
}
@media (device-height: 736px){
  .card{
    height: 30rem;
    margin-top: 0 !important;
  }

  .bg-content{
    padding-bottom: 10.7em;
  }
}

@media (device-height: 812px){
  .card{
    height: 30rem;
    margin-top: 0 !important;
  }

  .bg-content{
    padding-bottom: 15.7em!important;
  }
}

@media (max-width: 580px){
  .logo{
    margin-left: calc(20%);
    height: 65px;
  }
  .title{
    font-size: 1.3em;
  }
  label{
    font-size: 1.1rem;
  }
}

