/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway-Medium;
  src: url('../fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
.mat-table .mat-header-cell {
  text-align: center !important;
}


.mat-table .mat-cell {
  padding-left: 4px;
  padding-right: 10px;
  text-align: center !important;
  word-wrap: break-word;
  /* white-space: nowrap; */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  /*height: 100%;*/
  font-family: Raleway-Regular, sans-serif;
}

/*---------------------------------------------*/

a {
  font-family: Raleway-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

.info-card{
  width: 20rem;
  height: 18rem
}

@media (max-width: 767px) {
  .info-card{
    width: 17rem!important;
  }
  .flex-cards{
    display: flex!important;
    justify-content: space-around!important;
  }
  .spc-btn{
    margin-top: 10px!important;
  }
}

@media (max-width: 1200px){
  .info-card{
    width: 17rem!important;
  }
}

@media (min-width: 1350px){
  .info-card{
    width: 20rem!important;
  }
}
@media (min-width: 2000px){
  .info-card{
    width: 26rem!important;
  }
}

@media (min-width: 768px )and (max-width: 773px){
  .mg-btn{
    margin-top: 10px!important;
  }
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Raleway-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/

.table-icon{
  background-color: rgb(218,219,217);
  height: 100px;
  width: 110px;
  position: relative;
  top: 1rem;
}

@media (min-width: 2001px){
  .table-icon{
    opacity: 0;
  }
}

@media (max-width: 2000px){
  .table-icon{
    left: 18rem;
  }
}


@media (max-width: 1500px){
  .table-icon{
    left: 14rem;
  }
}

.caliMedellin{
  flex: 1 0 18%;
}

.caribe{
  flex: 1 0 21%;
}

.palmira{
  padding-right: 95px;
  margin-top: 3.5em;
}

.bogotaEje{
  flex: 1 0 26%;
}



@media (max-width: 1200px){
  .table-icon{
    left: 11rem;
  }
}

@media (max-width: 1024px){
  .table-icon{
    left: 7rem!important;
  }
  .table-container{
    width: 80% !important;
  }
}

@media (max-width: 899px){
  .table-icon{
    left: 3rem!important;
  }
  .table-container{
    width: 90% !important;
  }
}

@media (max-width: 650px){
  .table-icon{
    opacity: 0;
  }
}


button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;
}

.txt2 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
}

.txt3 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #555555;
  line-height: 1.4;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #ebebeb;
}

@media (max-width: 853px){
  .regionalImg{
    width: 120px!important;
  }
  .regionalText{
    font-size: 11pt!important;
  }
  .arrow{
    width: 60px!important;
  }
  .zonaImg{
    width: 90px!important;
  }
  .zonaText{
    font-size: 11pt!important;
  }
}

#oficina .ui-dialog .ui-dialog-titlebar{
  background-color: #74bf45 !important;
  text-align: center;
}

#oficina .mat-paginator-container{
  background-color: transparent!important;
}

.oficinaList td, .oficinaList th.mat-header-cell {
  font-size: 1em!important;
}

.oficinaList{
  width: 100% !important;
  max-width: 76vw;
}

@media (max-width: 800px){
  .oficinaList{
      width: 80%!important;
      max-width: 40vw!important;

  }
  .list ul {
    width: 22em;
  }
  .oficinaList td, .oficinaList th.mat-header-cell {
    font-size: .8em!important;
  }
  p-dialog{
    width: 100% !important;
  }
}

.rowList{
  margin: 0 auto;
  background-size: 32%;
  background-color: transparent;
  background-position: 45% 50%;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/coomevaicon.png);
  min-height: 19em;
}

.list ul {
  width: 28em;
}

.list ul li{
  border: none!important;
  background-color: transparent;
}

.list i{
  color: #009353;
  margin-right: 10px;
}

.list a {
  vertical-align: super;
}

.container-window {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem;
}

.wrapper {
  position: relative;

}

.slide {
  position: absolute;
  right: -100vw;
  top: 0;
  transition: 1.5s;
  visibility: hidden;
}

.selectZona .slide {
  transition: 1.5s;
  right: 0;
  visibility: visible;
}

.slide2{
  position: absolute;
  left: 0;
  top: 0;
  transition: 1.5s;
  visibility: visible;
}

.selectZona .slide2{
  left: -100vw;
  visibility: hidden;
  transition: 1.5s;
}

.centerMatCardFilterAssociated {
  -webkit-box-shadow: 0px 15px 59px -23px rgba(117,116,117,1);
  -moz-box-shadow: 0px 15px 59px -23px rgba(117,116,117,1);
  box-shadow: 0px 15px 59px -23px rgba(117,116,117,1);
  width: 100%;
  float: none;
  background-color: rgb(244,244,244);
  padding: 10px 24px 10px 24px !important;
}
.card-info{
  width: 12em;height: 5em;
}

@media(max-width: 900px){
  .card-info, .c1, .c2, .c3, .c4{
    width: 10em!important;
  }
  .card-info span{
    font-size: 13px!important;
  }
  .c1 .dropdown-item span{
    font-size: 12px!important;
  }
  .c2 .dropdown-item span{
    font-size: 12px!important;
  }
  .c3 .dropdown-item span{
    font-size: 12px!important;
  }
  .c4.dropdown-item span{
    font-size: 12px!important;
  }
}

@media (max-width: 740px){
  .card-info, .c1, .c2, .c3, .c4{
    width: 8em!important;
  }
  .dropdown-menu{
    min-width: 8em!important;
  }
}

@media (max-width: 619px){
  .card-info, .c1, .c2, .c3, .c4{
    width: 11em!important;
  }
  .c03,.c04{
    margin-top: 5px!important;
  }
  .dropdown-menu{
    min-width: 11em!important;
  }
}

@media (max-width: 459px){
  .c02,.c03,.c04{
    margin-top: 5px!important;
  }
}

@media (max-width: 480px){
  .c03,.c04{
    margin-top: 5px!important;
  }
}


@media (max-height: 1366px){

  .card-info > .c1,.card-info > .c2, .card-info > .c2, .card-info > .c3,.card-info > .c4{
    height: 180px!important;
    overflow-y: scroll;
  }

}

.c1::-webkit-scrollbar,.c2::-webkit-scrollbar,.c3::-webkit-scrollbar,.c4::-webkit-scrollbar, .float-card::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.c1::-webkit-scrollbar-thumb, .c2::-webkit-scrollbar-thumb, .c3::-webkit-scrollbar-thumb,.c4::-webkit-scrollbar-thumb, .float-card::-webkit-scrollbar-thumb {
  background: #9fafa9;
  border-radius: 4px;
}

.c1::-webkit-scrollbar-thumb:active, .c2::-webkit-scrollbar-thumb:active,.c3::-webkit-scrollbar-thumb:active,.c4::-webkit-scrollbar-thumb:active, .float-card::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.c1::-webkit-scrollbar-thumb:hover,.c2::-webkit-scrollbar-thumb:hover,.c3::-webkit-scrollbar-thumb:hover,.c4::-webkit-scrollbar-thumb:hover, .float-card::-webkit-scrollbar-thumb:hover  {
  background: #898989;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.c1::-webkit-scrollbar-track,.c2::-webkit-scrollbar-track,.c3::-webkit-scrollbar-track,.c4::-webkit-scrollbar-track, .float-card::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.c1::-webkit-scrollbar-track:hover, .c1::-webkit-scrollbar-track:active,
.c2::-webkit-scrollbar-track:hover,.c2::-webkit-scrollbar-track:active,
.c3::-webkit-scrollbar-track:hover,.c3::-webkit-scrollbar-track:active,
.c4::-webkit-scrollbar-track:hover,.c4::-webkit-scrollbar-track:active,
.float-card::-webkit-scrollbar-track:hover, .float-card::-webkit-scrollbar-track:active{
  background: #d4d4d4;
}

.card-info:hover, .card-info:focus, .card-info:active{
  -webkit-box-shadow: 0px 0px 18px 0px rgba(164,166,164,1);
  -moz-box-shadow: 0px 0px 18px 0px rgba(164,166,164,1);
  box-shadow: 0px 0px 18px 0px rgba(164,166,164,1);

}
.card-info .dropdown-item a{
  color: white;
  text-decoration: none;
}

.card-info .c1 .dropdown-item:hover{
  background-color: rgb(145,186,50)!important;
  text-decoration: none;
}

.card-info .c2 .dropdown-item:hover{
  background-color: rgb(225,121,34)!important;
  text-decoration: none;
}

.card-info .c3 .dropdown-item:hover{
  background-color: rgb(22,88,158)!important;
  text-decoration: none;
}

.card-info .c4 .dropdown-item:hover{
  background-color: rgb(187,33,33) !important;
  text-decoration: none;
}

#popUpDiv::-webkit-scrollbar {
  width: 0 !important
}

.c1,.c2,.c3,.c4{
  transform: translate3d(0px, 85px, 0px) !important;
  width: 12em;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
/*  .regionalImg{
    margin-left: 24%;
  }
  .regionalText{
    margin-right: 5%;
  }*/
}

.mat-select-arrow {
  color: rgba(0, 0, 0, 0.78);
}

.c1 .dropdown-item{
   padding: 0.4rem .15rem .001rem!important;
 }
.c2 .dropdown-item{
  padding: 0.4rem .15rem .001rem!important;
}
.c3 .dropdown-item{
  padding: 0.4rem .15rem .001rem!important;
}
.c4 .dropdown-item{
  padding: 0.4rem .15rem .001rem!important;
}
.btn-dg{
  background-color: #73bf45; color: white;border-radius: 25px!important;padding: 0.1rem 1.5rem 0.1rem 1.5rem!important;
}
.btn-g{
  color: white !important;background-color: rgb(141,197,62);border-radius: 25px!important;padding: 0.1rem 1.5rem 0.1rem 1.5rem!important;
}

.mat-slide-toggle{
  margin-top: 0.2em!important;
}



th{
  vertical-align: middle!important;
}

@media (max-width: 575px){
  .stateInput{
    width: 50% !important;
  }

  .stateLabel{
    width: 30% !important;
  }
}

.wrap-window {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: #6666665d 3px solid;
}

.wrap-form {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  border: black 3px solid;
}

.wrap-form100 {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: black 3px solid;
}

.wrap-form-left {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: black 3px solid;
  float: left;
}

.wrap-form-right {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: black 3px solid;
  float: right;
}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.centerButton {
  text-align: center;
}

.centerButtonAssociatedUpdate {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyrightMessage {
  font-size: 10px;
  color: #73bf45;
  text-align: center;
  font-weight: bold;
  padding: 20px 20% 10px 20%;
  bottom: 0;
  position: relative;
  width: 100%;
}

.login100-form-subs {
  font-size: 14px;
  color: #73bf45;
  line-height: 1.2;
  /* text-align: center; */
  font-weight: bold;
  padding: 1.5em 0;
  width: 100%;
  display: block;
  bottom: 0;
  margin-left: 1.5%;
}

.login100-form-subs2 {
  font-size: 14px;
  color: #73bf45;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  padding: 1.5em 0;
  width: 42em;
  display: block;
  position: absolute;
  bottom: -100px;
  left: calc(-13em / 2);
}

.login100-form-title {
  font-family: Raleway-Medium;
  font-size: 21px;
  color: #73bf45;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: block;
}

@media (max-width: 600px){
  .login100-form-title{
    font-size: 17px!important;
  }
}

@media (max-width: 960px){
  .login100-form-title{
    font-size: 19px;
  }
}

.window-form-title {
  font-family: Raleway-Medium;
  font-size: 22px;
  color: rgb(85,169,33);
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
  width: 100%;
  display: block;
}

.window-new-button {
  font-family: Raleway-Medium;
  font-size: 22px;
  color: #73bf45;
}

.window-form-subtitle {
  font-family: Raleway-Medium;
  font-size: 16px;
  color: rgb(85,169,33);
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){

  .window-form-title {
    font-family: Helvetica;
    font-size: 22px;
    color: rgb(85,169,33);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    width: 100%;
    display: block;
  }

  .window-form-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(85,169,33);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
  }
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 2px solid #0a01015b;
  border-radius: 2px;
}

/*---------------------------------------------*/

.input100 {
  font-family: Raleway-Medium;
  color: #555555;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 30px;
  padding: 0 10px 0 10px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #73bf45;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*---------------------------------------------*/

.btn-show-pass {
  font-size: 15px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 12px;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
}

.btn-show-pass:hover {
  color: #57b846;
}

.btn-show-pass.active {
  color: #57b846;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
  color: #57b846;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: .6em;
  min-width: 100%;
  height: 45px;
  background-color: #73bf45;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form-btn {
  font-family: Raleway-Bold;
  font-size: 14px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 20%;
  background-color: rgb(85,169,33);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #73bf459a;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate .btn-show-pass {
  visibility: hidden;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;
  font-family: Raleway-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.text-update {
  font-size: 14px !important;
  text-align: center;
  color: white;
}

.table-bordered thead td, .table-bordered thead th {
  background-color: #73bf45;
  text-align: center;
}

.table-bordered td {
  color: #73bf45;
  text-align: center;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.mat-list-item-content {
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

@media (max-width: 992px) {
  .form-group> label {
    font-size: 1em!important;
  }
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 1420px){
  .form-group> label {
    font-size: 1.3em!important;
  }
}
/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

/*------------------------------------------------------------------
[ Label Center ]*/

.labelCenter {
  -webkit-align-self: center;
  align-self: center;
  padding-bottom: 6px;
  padding-right: 30px;
  text-align: right;
}

.mat-option-text {
  color: #000000;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: rgb(85,169,33);
  margin-left: 10px;
}

.mat-slide-toggle-bar, .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(116, 191, 69, 0.39);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-ripple-element {
  background-color: rgba(116, 191, 69, 0.39);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb, .mat-slide-toggle-thumb {
  background-color: rgb(116, 191, 69);

}

td.mat-cell {
  font-size: 11px;
}

th.mat-header-cell {
  font-size: 12px !important;
  text-align: center !important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 10px !important;
}

.mat-card-title {
  margin-bottom: 0px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 6px;
}

.mat-form-field-infix {
  border-top: 3px solid transparent !important;
}

.tr.mat-footer-row, tr.mat-row {
  height: 40px !important;
  ;
}

.mat-header-row {
  height: 33px !important;
  background: rgb(116,191,69);
}

.centerDiv {
  width: 100%;
  margin: 0px auto;
  float: none;
}

#estado{
color:   rgb(116,191,69);
}

mat-slide-toggle{
  margin-top: .7em;
}

.form-group> label{
  font-size: 1.2em;
  color: rgb(139,196,66)
}

.form-control{
  background-color: transparent!important;
  background-clip: padding-box!important;
  border: 1px solid  rgba(123, 133, 119, 0.6)!important;
  border-top-color: transparent!important;
  border-right-color: transparent!important;
  border-left-color: transparent!important;
  border-radius: 0!important;
}

@media (min-width: 992px){
  .col-special{
    max-width: 88.666667% !important;
  }
}

.form-control input{
  border-bottom-color: rgba(123, 133, 119, 0.6)!important;
  border-radius:0;
  border: 1px solid;
  border-color: transparent;
}


.centerMatCard {
  width: 100%;
  margin-top: .3rem;
  float: none;
  background-color: rgb(244,244,244);
}

@media (max-width: 600px){
  .btn-g,.btn-dg{
    margin-top: 10px!important;
  }
}

.mat-paginator-container{
  background-color: rgb(244,244,244);

}

.iconTable {
  width: 35px !important;
  height: 35px !important;
}

.matIcon {
  font-size: 14px;
  width: 31px !important;
}

.buttonBorderRadius {
  border-radius: 149px 149px 149px 149px !important;
}


.form-btn-double {
  font-family: Raleway-Bold;
 font-size: 14px;
 color: #fff;
 margin-right: 10px !important;
 margin-left: 10px !important;
 justify-content: center;
 align-items: center;
 padding: 0 10px;
 min-width: 20%;
 background-color: rgb(85,169,33);
 -webkit-transition: all 0.4s;
 -o-transition: all 0.4s;
 -moz-transition: all 0.4s;
 transition: all 0.4s;
}


@media (max-width: 1024px) {
  .labelCenter {
    -webkit-align-self: center;
    align-self: center;
    padding-bottom: 6px;
    padding-right: 30px;
    text-align: left;
  }
}


.btn-outline-select{
  border-color: #ced4da;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

}
