@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body{
  background-color: rgb(244,244,244);
}
::ng-deep.ui-dialog .ui-dialog-titlebar{
  background-color: #009353 !important;
  border: none !important;
  color: #fff !important;
}

@media  (max-width: 1270px) and (max-height: 644px) {
  .main-img{
    height: 70% !important;
  }
  .main-text{
    font-size: 1.9rem!important;
  }
}

@media (max-width: 1270px) and (min-height: 645px){
  .main-img{
    height: 50% !important;
  }
  .main-text{
    font-size: 1.7rem!important;
  }
}

@media (max-width: 900px) and (min-height: 645px){
  .main-img{
    height: 40% !important;
  }
  .main-text{
    font-size: 1.6rem!important;
  }
}

@media (max-width: 700px) and (min-height: 645px){
  .main-img{
    height: 30% !important;
  }
  .main-text{
    font-size: 1.6rem!important;
  }
}


@media (max-width: 600px){
  .main-img{
    display: none;
  }
}

@media (min-width: 821px) and (max-width: 1024px) and (max-height: 644px){
  .main-text{
    font-size: 1.4rem!important;
  }
}

@media (max-width: 820px) and (max-height: 644px) {
  .main-img{
    height: 50% !important;
  }
  .main-text{
    font-size: 1.4rem!important;
  }
}

@media  (max-width: 700px) and (max-height: 644px) {
  .main-img{
    height: 40% !important;
  }
  .main-text{
    font-size: 1.3rem!important;
  }
}
::ng-deep.mat-calendar-body-selected {
  background-color: #73bf45 !important;
}

::ng-deep.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-family: Raleway-Medium;
  font-size: 19px;
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
}

::ng-deep.ui-dialog {
  z-index: 1000 !important;
}

::ng-deep.ui-dialog-mask {
  z-index: 600 !important;
}

::ng-deep.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: #fff !important;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

::ng-deep.ui-messages.ui-messages-error .ui-messages-icon {
  display: none !important;
}

a {
  color: rgb(141,197,62);
  text-decoration: none;
}

.small {
  font-size: 0.7rem;
}

.noradius {
  border-radius: 0;
}

.noborder {
  border: 0 !important;
}

.radius-circle {
  border-radius: 50px;
}

label {
  font-weight: 500;
}

.label {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 75%;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.label:empty {
  display: none;
}

img {
  vertical-align: middle;
  border: 0;
}

.bg-primary {
  background-color: #0f9df7 !important;
}

.bg-success {
  background-color: #1bb99a !important;
}

.bg-info {
  background-color: #3db9dc !important;
}

.bg-warning {
  background-color: #f1b53d !important;
}

.bg-danger {
  background-color: #ff5d48 !important;
}

.bg-purple {
  background-color: #9261c6 !important;
}

.bg-pink {
  background-color: #ff7aa3 !important;
}

.bg-dark {
  background-color: #2b3d51 !important;
}

.bg-default {
  background-color: #64b0f2 !important;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-custom {
  color: #64b0f2;
}

.text-primary {
  color: #0f9df7 !important;
}

.text-success {
  color: #1bb99a !important;
}

.text-info {
  color: #3db9dc !important;
}

.text-warning {
  color: #f1b53d !important;
}

.text-danger {
  color: #ff5d48 !important;
}

.text-purple {
  color: #9261c6;
}

.text-pink {
  color: #ff7aa3;
}

.text-dark {
  color: #2b3d51;
}

.text-white {
  color: #ffffff;
}

.text-muted {
  color: #818a91;
}

.dropdown-lg {
  width: 280px;
}

.dropdown-menu {
  box-shadow: none;
  border: 1px solid rgba(43, 61, 81, 0.05);
  margin: -1px;
  padding: 0;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

.breadcrumb-holder {
  background-color: #ffffff;
  margin: 0px -20px 20px -20px;
  padding: 13px 25px 0 25px;
  box-shadow: none;
  /* // position: fixed; */
  /* // top: 50px;
  // width: 81%;
  // z-index: 1000;  */
}

.breadcrumb-holder .main-title {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.breadcrumb-holder .breadcrumb {
  padding: 0;
  background-color: transparent !important;
}

.card-box {
  padding: 20px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(183, 183, 183, .125);
}

.card-box i {
  font-size: 80px;
  margin-top: 20px;
}

.card-header {
  color: #6b6b6b;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(111, 111, 111, .13);
}

.card-header h3 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.header-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.page-header {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.15rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #eceeef;
}

.button-list {
  margin-bottom: -5px;
  margin-left: -7px;
}

.button-list button, .button-list a {
  margin: 5px 7px;
}

canvas {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  padding-right: 10px;
  padding-left: 10px;
}


.dropdown-item {
  font-size: 0.9rem;
  white-space: inherit;
}

.consultar_informacion{
  display:none;
}

#consultar_informacion3{
  right: -14px!important;
}

/* IE9, IE10, IE11 */

@media screen and (min-width: 0\0) {
  .form-control {
    padding: 0.55rem 0.75rem !important;
  }
  .input-group-addon {
    line-height: inherit !important;
    font-size: 1rem !important;
  }
  .carousel-control span {
    right: 20px;
  }
}

.headerbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500;
  background: rgb(141,197,62);

}

.headerbar .headerbar-left {
  background: rgb(141,197,62);
  float: left;
  text-align: center;
  height: 50px;
  position: relative;
  width: 250px;
  z-index: 1;
  transition: width .5s;
}

.footer{
  color: white;
  background-color: rgb(141,197,62)!important;
  font-size: 0.8rem!important;
  text-align: center;
  position:absolute;
  min-width: 100vw;
  bottom: 0;
}

.initial-menu-center{
  -webkit-box-shadow: -1px 3px 42px -10px rgba(117,116,117,1);
  -moz-box-shadow: -1px 3px 42px -10px rgba(117,116,117,1);
  box-shadow: -1px 3px 42px -10px rgba(117,116,117,1);
  justify-content: center;
  background-color: rgb(244,244,244);
  height: 90vh;
  align-content: center;
  align-items: center;
}

.initial-menu{
  -webkit-box-shadow: -1px 3px 42px -10px rgba(117,116,117,1);
  -moz-box-shadow: -1px 3px 42px -10px rgba(117,116,117,1);
  box-shadow: -1px 3px 42px -10px rgba(117,116,117,1);
  display: flex;
  justify-content: center;
  background-color: rgb(244,244,244);
  height: 90vh;
  align-content: center;
  align-items: center;
}
 .logo img {
  max-width: 300px;
  max-height: 50px;
  width: auto;
  height: auto;
   left: 0px;
}

.btn-color{
  color: white !important;
  background-color: rgb(141,197,62);
  border-radius: 25px;
  padding: 0.1rem 1.5rem 0.1rem 1.5rem;
}

.navbar-custom {
  background-color: rgb(141,197,62);
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px;
  max-height: 50px;
}

.nav{
  justify-content: space-between;
}

.navbar-custom .nav-link {
  padding: 0 8px;
  line-height: 50px;
  color: #f8f9fa;
  cursor: pointer;
  font-size: 15px;

}
@media (max-width: 1020px) {
  .navbar-custom .nav-link{
    font-size: 13px;
  }
}

.line-name{
  margin-left: 5em;
}

@media (max-width: 900px){
  .line-name{
    margin-left: 2em!important;
  }
}

li .nav-item .dropdown .show{
  border-bottom: 1px gold solid!important;
}


@media (max-width: 750px){
  .line-name{
    display:none!important;
  }
  .rotateLineconsultar_informacion{
    display: none!important;
  }
  .rotateLineenlaces_de_interes{
    display:none!important;
  }
  .rotateLineparametrizacion{
    display:none!important;
  }
  .rotateLineformulario{
    display:none!important;
  }
  .div-submenu{
    margin-top: 0!important;
  }
}

.div-submenu{
  padding: 0.55rem 1.5rem 0.001rem!important;
}

#tipo_vinculacion{
  margin-top: -1em;
}
#consultar_herramientas{
  margin-top: -1em;
}
#consultar{
  margin-top: -1em;
}


@media (max-width: 700px){
  .name{
    font-size: 11px!important;
  }
  .fa{
    font-size: smaller!important;
  }
  .menu-arrow{
    font-size: 14px!important;
  }
}

@media (max-width: 620px){
  .name{
    display:none!important;
  }
  .fa{
    font-size: medium!important;
  }
}

.dropdown-item:hover > h5 > a, .dropdown-item:hover{
  background-color: rgb(141,197,62);
  color: white!important;
}
.dropdown-item.active >h5 > a{
  color: white!important;
}
.n-i{
  color: white;
}

.navbar-custom .dropdown-toggle:after {
  content: initial;
}

.navbar-custom .menu-left {
  overflow: hidden;
}

.logo {
  color: #e3ebf3 !important;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 48px;
}

.logo span span {
  color: #fff;
}

.main-sidebar {
  top: 50px;
  width: 20%;
  z-index: 10;
  background: #009353;
  bottom: 0;
  margin-bottom: -70px;
  margin-top: 0;
  padding-bottom: 70px;
  position: fixed;
  transition: width .5s
}

#main.hideSidebar .main-sidebar, #main.hideSidebar .headerbar .headerbar-left {
  width: 90px;
}

#main.hideSidebar .headerbar .headerbar-left a img {
  padding: 2px;
}

#main.hideSidebar .headerbar .navbar-custom {
  margin-left: 90px;
  transition: margin-left .5s;
}

#main.hideSidebar .main-sidebar .sidebar-inner #sidebar-menu ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0px;
  padding: 12px 15px 12px 12px;
}

#main.hideSidebar .main-sidebar .sidebar-inner #sidebar-menu ul li a i {
  font-size: 25px;
  margin: .2em 0 0 0;
}

/*#main.hideSidebar .content-page {
  margin-left: 90px;
  transition: margin-left .5s;
}

#main.showSidebar .content-page {
  margin-left: 20%;
  transition: margin-left .5s;
}*/

#main{
  min-height: 92vh;
}

#main.showSidebar .headerbar .navbar-custom {
  transition: margin-left .5s;
  margin-left: 250px;
}

.content-page {
  overflow: hidden;
  min-height: inherit;
}

.content-page .content {
  margin-top: 0;
}

.main-sidebar.left {
  position: fixed;
}

body.adminbody .main-sidebar.left {
  bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 0px;
}

.button-menu-mobile {
  background: transparent;
  border: none;
  color: #dde8ef;
  font-size: 28px;
  line-height: 50px;
  padding: 0 5px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  z-index: 2000;
}

.button-menu-mobile:hover {
  color: #a2cff7;
}

.sidebar-inner {
  height: 100%;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#sidebar-menu {
  padding-bottom: 30px;
  width: 100%;
}

#sidebar-menu a {
  line-height: 1.3;
}

 ul li .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  -o-transition: -o-transform .15s;
  transition: transform .15s;
   /*position: absolute;
   right: 14px;
   top: 16px;*/
   margin-left: 10px;
   display: inline-block;
  font-family: 'FontAwesome';
  text-rendering: auto;
  line-height: 18px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

 ul li .menu-arrow:before {
  content: "\f105";
}

 ul li a.subdrop .menu-arrow {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#sidebar-menu ul ul {
  display: none;
}

#sidebar-menu ul ul li {
  border-top: 0;
}

 ul ul li.active a {
  color: #f3f3f3;
}

 ul ul a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  padding: 10px 10px 10px 30px;
}

#sidebar-menu ul ul a:hover {
  color: #efefef;
}

#sidebar-menu ul ul a i {
  margin-right: 5px;
}

#sidebar-menu ul ul ul a {
  padding-left: 80px;
}

#sidebar-menu .label {
  margin-top: 2px;
}

#sidebar-menu .subdrop {
  color: #009353 !important;
  background-color: #efefef;
  border-left: 2px solid #608ab3;
}

#sidebar-menu .submenu ul .submenu .menu-arrow {
  top: 10px !important;
}

.dm{
  box-shadow: none;
  border: 1px solid rgba(43, 61, 81, 0.05);
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: white;
  z-index: 20;
  position: absolute;
  display:none;
  width: 14em;
}

.dm > #consultar > h5 > a{
  justify-content: center;
}

.fa-wrench{
  padding-top: 3px;
}

.enlaces_de_interes2:hover .dm, .parametrizacion2:hover .dm, .formulario2:hover .dm, .consultar_informacion2:hover .dm {
  display: block;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;

}



@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.enlaces_de_interes2:hover > .enlaces_de_interes1 > .rotateArrowenlaces_de_interes  {
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.parametrizacion2:hover > .parametrizacion1 > .rotateArrowparametrizacion  {
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.formulario2:hover > .formulario1 > .rotateArrowformulario  {
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.consultar_informacion2:hover > .consultar_informacion1 > .rotateArrowconsultar_informacion  {
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.rotateLineenlaces_de_interes{
  margin-top: -3em;
  height: 60px;
  margin-left: 7em;
  width: 5px;
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.rotateLineparametrizacion{
  margin-top: -3em;
  height: 60px;
  margin-left: 6em;
  width: 5px;
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.rotateLineformulario{
  margin-top: -3em;
  height: 60px;
  margin-left: 7em;
  width: 5px;
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.rotateLineconsultar_informacion{
  margin-top: -3em;
  height: 60px;
  margin-left: 6em;
  width: 5px;
  -ms-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

#sidebar-menu>ul>li>a {
  color: #fff;
  display: block;
  padding: 12px 12px 15px 12px;
  font-weight: 400;
  font-size: 0.90rem;
  border-left: 2px solid transparent;
  width: 100%;
  cursor: pointer;
}

#sidebar-menu>ul>li>a:hover {
  color: #009353;
  background-color: #efefef;
  text-decoration: none;
  border-left: 2px solid #73bf45;
}

#sidebar-menu ul>li>ul a {
  background: #73bf45;
}

#sidebar-menu ul>li:hover>ul a:hover {
  color: #009353;
  background-color: #efefef;
  border-left: 2px solid #73bf45;
}

#sidebar-menu>ul>li>a>span {
  vertical-align: middle;
  white-space: nowrap;
  position: absolute;
  padding-top: .2em;
}

#sidebar-menu ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

#sidebar-menu ul li a .drop-arrow {
  float: right;
}

#sidebar-menu ul li a .drop-arrow i {
  margin-right: 0;
}

#sidebar-menu>ul>li>a.active {
  color: #ffffff !important;
  background-color: #73bf45;
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
}


#main.enlarged .menu-title {
  display: none;
}

#main.enlarged .menu-arrow {
  display: none !important;
}

#main.enlarged .footer {
  left: 70px;
}

#main.enlarged #sidebar-menu ul ul {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}

#main.enlarged .left.main-sidebar {
  width: 70px;
  z-index: 5;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a {
  padding-left: 10px;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a:hover {
  background-color: #64b0f2;
}

#main.enlarged .left.main-sidebar span.pull-right {
  display: none !important;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li {
  position: relative;
  white-space: nowrap;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>a {
  background-color: #64b0f2;
  position: relative;
  width: 260px;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  padding: 5px 0;
  background: #ffffff;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>ul a {
  background: #ffffff;
  border: none;
  box-shadow: none;
  padding-left: 15px;
  position: relative;
  width: 190px;
  z-index: 6;
  color: rgba(43, 61, 81, 0.8);
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>ul a:hover {
  color: #64b0f2;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover a span {
  display: inline;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li>ul {
  display: none;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul ul li:hover>ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul ul li>a span.pull-right {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: absolute;
  right: 20px;
  top: 12px;
  transform: rotate(270deg);
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li>a span {
  display: none;
  padding-left: 10px;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a {
  padding: 15px 20px;
  min-height: 52.09px;
}

#main.enlarged .left.main-sidebar #sidebar-menu>ul>li>a i {
  margin-right: 20px !important;
  font-size: 20px;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>a {
  position: relative;
  width: 260px;
  background-color: #535b63;
  color: #ffffff;
}

#main.enlarged .left.main-sidebar #sidebar-menu ul>li:hover>a i {
  color: #ffffff;
}

#main.enlarged .content-page {
  margin-left: 70px;
}

#main.enlarged .navbar-custom {
  margin-left: 70px;
}

#main.enlarged .headerbar .headerbar-left {
  width: 70px !important;
}

#main.enlarged .headerbar .headerbar-left .logo span {
  display: none;
  opacity: 0;
}

#main.enlarged .headerbar .headerbar-left .logo i {
  margin-right: 0;
}

#main.enlarged #sidebar-menu>ul>li:hover>a.open :after {
  display: none;
}

#main.enlarged #sidebar-menu>ul>li:hover>a.active :after {
  display: none;
}

#main.enlarged .user-detail {
  bottom: 0;
  padding: 15px 0;
  width: 70px;
  text-align: center;
}

#main.enlarged .user-detail .dropup {
  margin: 0 auto;
  margin-left: 17px;
}

#main.enlarged .user-detail h5 {
  display: none;
}

#main.enlarged .user-detail p {
  position: absolute;
  right: 15px;
  top: 32px;
}

#main.enlarged .user-detail p span {
  display: none;
}

#main.enlarged #sidebar-menu ul ul li.active a {
  color: #0f9df7;
}

.notif {
  margin-left: 0 !important;
}



.notif .noti-title {
  border-radius: 0;
  background-color: #73bf45;
  margin: 0;
  width: auto;
  padding: 8px 15px 12px 15px;
}

.notif .noti-title h5 {
  color: #ffffff;
  margin: 0;
}

.notif .noti-title .label {
  float: right;
}

.notif .noti-icon {
  font-size: 22px;
  padding: 0 12px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
}

.notif .notif-bullet {
  height: 12px;
  width: 12px;
  background-color: #f95200;
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 8px;
  border-radius: 50%;
  border: 2px solid #e2e2e2;
}

.notif .notify-item {
  padding: 10px 20px;
  color: #009353;
  cursor: pointer;
}

.notif .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #ffffff;
}

.notif .notify-item .notify-icon img {
  margin-top: 4px;
}

.notif .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: inherit;
}

.notif .notify-item .notify-details b {
  font-weight: 500;
}

.notif .notify-item .notify-details small {
  display: block;
}

.notif .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.notif .notify-all {
  border-radius: 0;
  margin: 0;
  background-color: #a8c1d8;
  color: #fff;
}

.profile-dropdown {
  min-width: 100%;
}

.profile-dropdown i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
}

.profile-dropdown span {
  vertical-align: middle;
}

.nav-user {
  padding: 0 12px !important;
}

.nav-user img {
  height: 36px;
  width: 36px;
  margin-bottom: 7px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
  div#datatable-buttons_info {
    float: none;
  }
  .ms-container {
    width: 100%;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .dropdown-lg {
    width: 200px;
  }
  .notif .notify-item {
    padding: 10px 15px;
  }
  .breadcrumb-holder .main-title, .breadcrumb-holder .breadcrumb {
    float: none;
  }
}

@media (max-width: 480px) {
  .notif .noti-icon {
    font-size: 18px;
    padding: 0 10px;
  }
  .hidden-mobile {
    display: none !important;
  }
}

body.adminbody-void {
  min-height: 1170px;
}

.mobile.smallscreen .sidebar-inner.leftscroll {
  overflow: scroll !important;
}

button:focus {
  outline: none !important;
}

a.btn:focus {
  color: #ffffff !important;
}

.btn-rounded {
  border-radius: 2em !important;
  padding: .5rem 1.5rem;
}

.btn-label {
  background: rgba(43, 61, 81, 0.1);
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px 0 0 3px;
  margin: -7px -14px;
  margin-right: 12px;
}

.btn-rounded .btn-label {
  padding: 7px 15px 7px 20px;
  margin-left: -20px;
}

.btn-rounded .btn-label-right {
  margin-right: -20px;
  margin-left: 12px;
}

.btn-label-right {
  margin-left: 12px;
  margin-right: -13px;
  border-radius: 0px 3px 3px 0px;
}

.btn-custom {
  background-color: #64b0f2;
  border-color: #64b0f2;
  color: #ffffff;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover, .open>.dropdown-toggle.btn-custom {
  background-color: #439fef;
  border-color: #439fef;
  color: #ffffff;
}

.btn-primary {
  background-color: #0f9df7;
  border-color: #0f9df7;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  background-color: #0283d6;
  border-color: #0283d6;
  color: #ffffff;
}

.btn-success {
  background-color: #1bb99a;
  border-color: #1bb99a;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  background-color: #16957c;
  border-color: #16957c;
  color: #ffffff;
}

.btn-info {
  background-color: #3db9dc;
  border-color: #3db9dc;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
  background-color: #25a7cb;
  border-color: #25a7cb;
  color: #ffffff;
}

.btn-warning {
  background-color: #f1b53d;
  border-color: #f1b53d;
  color: #ffffff;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  background-color: #eea617;
  border-color: #eea617;
  color: #ffffff;
}

.btn-danger {
  background-color: #ff5d48;
  border-color: #ff5d48;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  background-color: #ff391f;
  border-color: #ff391f;
  color: #ffffff;
}

.btn-dark {
  background-color: #2b3d51;
  border-color: #2b3d51;
  color: #ffffff;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus, .btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open>.dropdown-toggle.btn-dark {
  background-color: #1d2936;
  border-color: #1d2936;
  color: #ffffff;
}

.btn-outline-custom {
  color: #64b0f2;
  background-image: none;
  background-color: transparent;
  border-color: #64b0f2;
}

.btn-outline-custom:hover, .btn-outline-custom:focus, .btn-outline-custom:active, .btn-outline-custom.active, .btn-outline-custom.focus, .btn-outline-custom:active, .btn-outline-custom-primary:focus, .btn-outline-custom:hover, .open>.dropdown-toggle.btn-outline-custom {
  color: #ffffff;
  background-color: #64b0f2;
  border-color: #64b0f2;
}

.btn-outline-primary {
  color: #0f9df7;
  background-image: none;
  background-color: transparent;
  border-color: #0f9df7;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover, .open>.dropdown-toggle.btn-outline-primary {
  color: #ffffff;
  background-color: #0f9df7;
  border-color: #0f9df7;
}

.btn-outline-success {
  color: #1bb99a;
  background-image: none;
  background-color: transparent;
  border-color: #1bb99a;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.focus, .btn-outline-success:active, .btn-outline-success:focus, .btn-outline-success:hover, .open>.dropdown-toggle.btn-outline-success {
  color: #ffffff;
  background-color: #1bb99a;
  border-color: #1bb99a;
}

.btn-outline-info {
  color: #3db9dc;
  background-image: none;
  background-color: transparent;
  border-color: #3db9dc;
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.focus, .btn-outline-info:active, .btn-outline-info:focus, .btn-outline-info:hover, .open>.dropdown-toggle.btn-outline-info {
  color: #ffffff;
  background-color: #3db9dc;
  border-color: #3db9dc;
}

.btn-outline-warning {
  color: #f1b53d;
  background-image: none;
  background-color: transparent;
  border-color: #f1b53d;
}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.focus, .btn-outline-warning:active, .btn-outline-warning:focus, .btn-outline-warning:hover, .open>.dropdown-toggle.btn-outline-warning {
  color: #ffffff;
  background-color: #f1b53d;
  border-color: #f1b53d;
}

.btn-outline-danger {
  color: #ff5d48;
  background-image: none;
  background-color: transparent;
  border-color: #ff5d48;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.focus, .btn-outline-danger:active, .btn-outline-danger:focus, .btn-outline-danger:hover, .open>.dropdown-toggle.btn-outline-danger {
  color: #ffffff;
  background-color: #ff5d48;
  border-color: #ff5d48;
}

.btn-outline-pink {
  color: #ff7aa3;
  background-image: none;
  background-color: transparent;
  border-color: #ff7aa3;
}

.btn-outline-pink:hover, .btn-outline-pink:focus, .btn-outline-pink:active, .btn-outline-pink.active, .btn-outline-pink.focus, .btn-outline-pink:active, .btn-outline-pink:focus, .btn-outline-pink:hover, .open>.dropdown-toggle.btn-outline-pink {
  color: #ffffff;
  background-color: #ff7aa3;
  border-color: #ff7aa3;
}

.btn-outline-purple {
  color: #9261c6;
  background-image: none;
  background-color: transparent;
  border-color: #9261c6;
}

.btn-outline-purple:hover, .btn-outline-purple:focus, .btn-outline-purple:active, .btn-outline-purple.active, .btn-outline-purple.focus, .btn-outline-purple:active, .btn-outline-purple:focus, .btn-outline-purple:hover, .open>.dropdown-toggle.btn-outline-purple {
  color: #ffffff;
  background-color: #9261c6;
  border-color: #9261c6;
}

.btn-outline-dark {
  color: #2b3d51;
  background-image: none;
  background-color: transparent;
  border-color: #2b3d51;
}

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.focus, .btn-outline-dark:active, .btn-outline-dark:focus, .btn-outline-dark:hover, .open>.dropdown-toggle.btn-outline-dark {
  color: #ffffff;
  background-color: #2b3d51;
  border-color: #2b3d51;
}

.btn-facebook {
  color: #ffffff !important;
  background-color: #3b5998 !important;
}

.btn-twitter {
  color: #ffffff !important;
  background-color: #00aced !important;
}

.btn-linkedin {
  color: #ffffff !important;
  background-color: #007bb6 !important;
}

.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89 !important;
}

.btn-googleplus {
  color: #ffffff !important;
  background-color: #dd4b39 !important;
}

.btn-instagram {
  color: #ffffff !important;
  background-color: #517fa4 !important;
}

.btn-pinterest {
  color: #ffffff !important;
  background-color: #cb2027 !important;
}

.btn-dropbox {
  color: #ffffff !important;
  background-color: #007ee5 !important;
}

.btn-flickr {
  color: #ffffff !important;
  background-color: #ff0084 !important;
}

.btn-tumblr {
  color: #ffffff !important;
  background-color: #32506d !important;
}

.btn-skype {
  color: #ffffff !important;
  background-color: #00aff0 !important;
}

.btn-youtube {
  color: #ffffff !important;
  background-color: #bb0000 !important;
}

.btn-github {
  color: #ffffff !important;
  background-color: #171515 !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.display-block {
  display: block;
}

.dropdown-example {
  position: static;
  display: block;
  margin-bottom: .25rem;
  clear: left;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(141,197,62);
  color: white!important;
}

#sidebar-menu>ul>li>a.pro {
  background-color: #f16854;
  color: #fff;
  bottom: 0;
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-rounded {
  border-radius: 50%;
}

.widget-messages .message-item {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0;
}

.widget-messages .message-item img {
  width: 40px;
}

.widget-messages .message-item .message-user-img {
  display: block;
  float: left;
  margin-right: 15px;
  width: 40px;
}

.widget-messages .message-item .message-item-user {
  color: #525252;
  display: block;
  font-weight: 500;
  margin: 0;
}

.widget-messages .message-item .message-item-msg {
  color: #525252;
  display: block;
  font-weight: 200;
  margin: 0;
}

.widget-messages .message-item .message-item-date {
  color: #a2a5a7;
  font-weight: 200;
  position: absolute;
  right: 7px;
  top: 2px;
}

.custom-modal .modal-header {
  padding: 10px !important;
  border-radius: 0;
  background-color: #5ba2e6;
  color: #fff;
}

.custom-modal .modal-content {
  background-color: #f7f7f7;
}

.custom-modal .modal-footer {
  padding: 10px !important;
  border-radius: 0;
  background-color: #f3f3f3;
}

.custom-modal .close {
  color: #fff;
  text-shadow: 0;
}

.border-left {
  border-left: 3px solid #eaeaea;
}

.label-info {
  background-color: #5bc0de;
}

/* $topnav-background-color: #009353; */

.sidebar {
  position: fixed;
  left: 95px;
  width: 133px;
  margin-left: -95px;
  margin-bottom: 48px;
  border-radius: 0;
  background-color: #009353;
  overflow-y: auto;
  bottom: 0;
}

.color-header {
  background: rgb(141,197,62);
  height: 70px;
}

.example-icon {
  padding: 0 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.icon-edit_cover:before {
  content: "\e906";
  color: #009353;
}

.img-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 60px;
  margin-top: .5em;
  margin-bottom: 1em;
}

.color-character {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.color-characteru {
  color: #fff;
  font-weight: normal;
}

.color-characterExit {
  color: #fff;
  font-weight: bold;
  font-size: 18px !important;
}

.mat-nav-list .mat-list-item {
  height: 70px !important;
}

::ng-deep.mat-tab-label, .mat-tab-link {
  color: #009353 !important;
}

::ng-deep.mat-select-panel .mat-option, ::ng-deep.mat-option {
  line-height: 1.3em !important;
  height: 1.3em !important;
  border-bottom: 1px solid #efefef;
  font-size: inherit;
}

::ng-deep.cdk-overlay-pane {
  transform: translateX(-16px) translateY(0) !important;
}

::ng-deep.mat-icon {
  color: #fff !important;
}

.fonts {
  font-size: 28px;
}

@media screen and (max-width: 645px) {
  #main.showSidebar .headerbar .navbar-custom, #main.hideSidebar .content-page, #main.showSidebar .content-page, .content-page {
    /*margin-left: 90px;*/
  }
}

@media screen and (max-width: 376px) {
  #main.hideSidebar .main-sidebar {
    width: 0px;
  }
  #main.hideSidebar .main-sidebar .sidebar-inner #sidebar-menu {
    visibility: hidden;
  }
  .button-menu-mobile {
    position: absolute;
    right: 15%;
  }
  #main.showSidebar .headerbar .navbar-custom, #main.hideSidebar .content-page, #main.showSidebar .content-page, .content-page {
    margin-left: 0px;
  }
}
