<body>
  <div id="main" >
    <!-- top bar navigation -->
    <div >
      <!-- LOGO -->
      <nav class="navbar-custom">
        <ul class="nav">
            <li ><a class="logo"><img alt="Logo" src="assets/images/logo_coomeva-1.png" /></a></li>
            <li class="nav-item n-i dropdown {{m.name}}2" *ngFor="let m of menu; let i = index" >
              <a class="nav-link {{m.name}}1" (click)="showList(m.name)"   style="padding-right: 0px;">
              <i class="{{m.icon}}"></i> <span class="name"> {{m.module}}</span><span class="menu-arrow rotateArrow{{m.name}}" id="{{m.name}}3" [ngClass]="toggleClass"></span>
                <img class="{{m.name}} line-name"  height="30px" src="assets/img/l.png">
              </a>
              <div id="{{m.name}}"  class="dm">
                <!-- item-->
                <img class="rotateLine{{m.name}}"  src="assets/img/l.png">
                <div *ngFor="let a of m.actions" id="{{a.name}}" class="dropdown-item noti-title div-submenu">
                  <h5 class="text-overflow">
                    <a class="d-flex sub" routerLink="/main/{{a.name}}" (click)="inicio=false"><i
                    class="{{a.icon}}" ></i><span style="margin-left: 2px">{{a.description}}</span></a>
                  </h5>
                </div>
              </div>
            </li>
          <li id="user" class="nav-item dropdown notif">
            <a class="nav-link nav-user" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
              <i class="fa fa-user-o"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown animated fadeIn" [@fadeOut]>
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5 class="text-overflow"><small>Hola, {{ user.name }}</small> </h5>
              </div>
              <div class="dropdown-item">
                  <h5 class="text-overflow"><small>{{ empresa.nombre }}</small> </h5>
                </div>
              <!-- item-->
              <a (click)="logout()" class="dropdown-item notify-item">
                <i class="fa fa-power-off"></i> <span>Salir</span>
              </a>
            </div>
          </li>
        </ul>

      </nav>
    </div>

    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">
          <div class="initial-menu-center" *ngIf="inicio">
            <h2 class="main-text" style="text-align: center; align-self: center; color: #6dc72a; font-weight: 700;">Bienvenido <br> Formulario Validador <br> Grupo Coomeva</h2>
            <div style="text-align: center;"><img class="main-img" style="width: 30%;" height="70%" src="assets/img/inicio.png"></div>
          </div>
          <router-outlet></router-outlet>
        </div>
        <!-- END container-fluid -->
      </div>
      <!-- END content -->
    </div>
    <!-- END content-page -->
    <div *ngIf="inicio" class="align-content-center ">
      <div class="footer">
        <span style="color: white !important;">Grupo Empresarial Cooperativo Coomeva<br>
          Todos los derechos reservados - 2021</span>
      </div>
    </div>
  </div>
</body>
