<div>
  <div class="row content-params">
    <div id="divContaineradd" class="container-window">
      <mat-card class="centerMatCardFilterAssociated">
        <form name="formRegistro" [formGroup]="formGeneral">
          <span class="login100-form-title p-b-34 p-t-27">
            Campo
          </span>
          <br>
          <div class="row">

            <div class="col-sm">
              <div class="form-group row">
                <mat-form-field class="matForm70">
                  <input type="text" placeholder="Nombre" [(ngModel)]="campo.nombre" matInput formControlName="nombre"
                    required name="nombre" id="nombre">
                  <mat-error class="matError" *ngIf="formGeneral.get('nombre').hasError('required')">Campo requerido
                  </mat-error>
                </mat-form-field>

              </div>
            </div>

            <div class="col-sm">
              <div class="form-group row">
                <mat-form-field class="matForm70">
                  <mat-select placeholder="Obligatorio" [(ngModel)]="campo.obligatorio" required
                    formControlName="obligatorio">
                    <mat-option value="" selected>Seleccione</mat-option>
                    <mat-option value="SI">SI</mat-option>
                    <mat-option value="NO">NO</mat-option>
                  </mat-select>
                  <mat-error class="matError" *ngIf="formGeneral.get('obligatorio').hasError('required')">Campo
                    requerido</mat-error>
                </mat-form-field>

              </div>
            </div>


            <div class="col-sm">
              <div class="form-group row">
                <mat-form-field>
                  <input type="number" placeholder="Longitud" [(ngModel)]="campo.longitud" matInput
                    formControlName="longitud" required name="longitud" id="longitud">
                  <mat-error class="matError" *ngIf="formGeneral.get('longitud').hasError('required')">Campo requerido
                  </mat-error>
                </mat-form-field>

              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-sm">
              <div class="form-group row">
                <mat-form-field class="matForm70">
                  <mat-select placeholder="Tipo de Campo" [(ngModel)]="campo.fvTipoCampo.tipoCampoId" required
                    formControlName="tipoCampo">
                    <mat-option value="" selected>Seleccione</mat-option>
                    <mat-option *ngFor="let tipoCampo of tipoCampoList" [value]="tipoCampo.tipoCampoId">
                      {{tipoCampo.nombre}}</mat-option>
                  </mat-select>
                  <mat-error class="matError" *ngIf="formGeneral.get('tipoCampo').hasError('required')">Campo requerido
                  </mat-error>
                </mat-form-field>

              </div>
            </div>


            <div class="col-sm">
              <div class="form-group row">
                <label>Estado&nbsp;</label>
                <mat-slide-toggle placeholder="Estado" id="estado" required [(ngModel)]="estado"
                  formControlName="estado">
                  {{estado ? 'Activo' : 'Inactivo'}}
                </mat-slide-toggle>

              </div>
            </div>

            <div class="col-sm">
              <div class="form-group row">

              </div>
            </div>

          </div>
          <br />
          <div class="scaleView pb-2">
            <div style="text-align: center;">
              <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="submit()">
                <i class="material-icons">save</i>&nbsp;
                Guardar
              </button>
              &nbsp;<button color="primary" mat-raised-button (click)="getAll(1)">
                <i class="material-icons">search</i>&nbsp;
                Buscar
              </button>&nbsp;
              <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="clean()">
                <i class="material-icons">delete</i>&nbsp;
                Limpiar
              </button>

            </div>
          </div>

        </form>
      </mat-card>
    </div>
    <br>
    <div id="divContaineradd" class="container-window">
      <mat-card class="centerMatCardFilterAssociated">
        <span class="login100-form-title p-b-10 p-t-27">
          Listado de Campo
        </span>

        <div class="row pt-2">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-8">
                <mat-form-field style="width: 80%;">
                  <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtro" matInput
                    name="filtro" id="filtro">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>

        <div #data class="table  table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
          <div style="text-align: center;">
            <table class="table" matSort style="width: 98%;" mat-table [dataSource]="campoList">
              <!-- Edit Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef style="text-align: left !important"> Acci&oacute;n
                </th>
                <td mat-cell *matCellDef="let element" style="word-wrap: break-word; text-align: left !important">
                  <button (click)="edit(element)">
                    <i title="Editar" class="fa fa-edit"> </i>&nbsp;
                  </button>
                  <button (click)="view(element)" *ngIf="!isDetailVisible">
                    <i title="Visualizar" class="material-icons" style="font-size: 13px;">visibility</i>&nbsp;
                  </button>
                  
                  <button (click)="addPreguntas(element)" *ngIf="getVisibleRespuesta(element.fvTipoCampo)">
                    <i title="Adicionar Opciones Respuesta" class="fa fa-question-circle"> </i>&nbsp;
                  </button>
                </td>
              </ng-container>
      
              <ng-container matColumnDef="campoId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                </th>
                <td mat-cell *matCellDef="let element"> {{element.campoId}} </td>
              </ng-container>
      
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre
                </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
              <ng-container matColumnDef="dependiente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dependiente
                </th>
                <td mat-cell *matCellDef="let element"> {{element.dependiente}} </td>
              </ng-container>
              <ng-container matColumnDef="obligatorio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Obligatorio
                </th>
                <td mat-cell *matCellDef="let element"> {{element.obligatorio}} </td>
              </ng-container>
              <ng-container matColumnDef="longitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitud
                </th>
                <td mat-cell *matCellDef="let element"> {{element.longitud}} </td>
              </ng-container>
              <ng-container matColumnDef="tipoCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Campo
                </th>
                <td mat-cell *matCellDef="let element"> {{getData(element.fvTipoCampo)}} </td>
              </ng-container>
              <ng-container matColumnDef="tipoDato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Dato
                </th>
                <td mat-cell *matCellDef="let element" > {{getData(element.fvTipoDato)}} </td>
              </ng-container>
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado
                </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
              </ng-container>
      
              <!-- Fecha Creacion Column -->
              <ng-container matColumnDef="fechaCreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de
                  Creaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaCreacion)}} </td>
              </ng-container>
      
              <!-- Fecha Modificacion Column -->
              <ng-container matColumnDef="fechaModificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de
                  Modificaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaModificacion)}}
                </td>
              </ng-container>
      
              <!-- Usuario Creacion Column -->
              <ng-container matColumnDef="usuarioCreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de
                  Creaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioCreacion}} </td>
              </ng-container>
      
              <!-- Usuario Modificacion Column -->
              <ng-container matColumnDef="usuarioModificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de
                  Modificaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioModificacion}}
                </td>
              </ng-container>
      
      
              <tr mat-header-row *matHeaderRowDef="isDetailVisible ? displayedColumnsDetail: displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: isDetailVisible ? displayedColumnsDetail: displayedColumns;"></tr>
      
            </table>
      
            <div class="centerMatCard" [hidden]="campoList != undefined && campoList.data.length == 0 || isDetailVisibleCol">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>


      </mat-card>
    </div>

    <p-dialog header="Listado de Campo" [(visible)]="isDetailVisible" (onHide)="closeModal()" [modal]="true" width="95%"
      [closable]="true" [responsive]="true" [style]="{width: '95%'}" [minY]="200" [maximizable]="true">

      <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
        <div style="text-align: center;" [innerHTML]="tableHTML">

        </div>
      </div>
    </p-dialog>


    <p-dialog header="Listado de Respuestas" [(visible)]="isRespuestaVisible" (onHide)="closeModalRespuestas()"
      [modal]="true" width="95%" [closable]="true" [responsive]="true" [style]="{width: '95%'}" [minY]="200"
      [maximizable]="true">

      <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
        <form name="formRegistro" style="margin-top: 2%;margin-left: 2%;">
        <div class="row">
          <div class="col-sm">
            <div class="form-group row">
              <mat-form-field class="matForm70">
                <mat-select placeholder="Respuesta" name="respuesta" [(ngModel)]="respuesta.respuestaId" required>
                  <mat-option value="" selected>Seleccione</mat-option>
                  <mat-option *ngFor="let res of respuestaDependienteList" [value]="res.respuestaId">
                    {{res.valor}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div class="col-sm">
            <div class="form-group row">
              <mat-form-field class="matForm70">
                <mat-select placeholder="Dependiente" name="respuestaCorrecta" [(ngModel)]="respuesta.respuestaCorrecta" required
                (selectionChange)="getCampoDependienteChange($event)">
                  <mat-option value="" selected>Seleccione</mat-option>
                  <mat-option value="SI">SI</mat-option>
                  <mat-option value="NO">NO</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div class="col-sm">
            <div class="form-group row">
              <mat-form-field class="matForm70">
                <mat-select [disabled]="disabledCampoDependiente" placeholder="Campo Dependiente" name="campoDependiente" [(ngModel)]="respuesta.campoDependienteId">
                  <mat-option value="" selected>Seleccione</mat-option>
                  <mat-option *ngFor="let res of campoDependienteList" [value]="res.campoId">
                    {{res.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
        </div>
      
        <br />
        <div class="scaleView pb-2">
          <div style="text-align: center;">
            <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="submitRespuesta()">
              <i class="material-icons">save</i>&nbsp;
              Guardar
            </button>
            &nbsp;
            <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="cleanRespuesta()">
              <i class="material-icons">delete</i>&nbsp;
              Limpiar
            </button>

          </div>
        </div>
      </form>
        <br>
        <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
          <table class="table" matSort style="width: 98%;" mat-table [dataSource]="respuestaCampoList">
            <!-- Edit Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acci&oacute;n
              </th>
              <td mat-cell *matCellDef="let element" style="word-wrap: break-word">
                <button (click)="removeRespuestaCampo(element)">
                  <i title="Eliminar" class="fa fa-trash"> </i>&nbsp;
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="campoId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Campo Id
              </th>
              <td mat-cell *matCellDef="let element"> {{element.fvCampo.campoId}} </td>
            </ng-container>

            <ng-container matColumnDef="campo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Campo
              </th>
              <td mat-cell *matCellDef="let element"> {{element.fvCampo.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="respuesta">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Respuesta
              </th>
              <td mat-cell *matCellDef="let element"> {{element.fvRespuesta.valor}} </td>
            </ng-container>

            <ng-container matColumnDef="respuestaCorrecta">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dependiente
              </th>
              <td mat-cell *matCellDef="let element"> {{element.respuestaCorrecta}} </td>
            </ng-container>

            <ng-container matColumnDef="campoDependiente">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Campo Dependiente
              </th>
              <td mat-cell *matCellDef="let element"> {{getNombreCampoDependiente(element.fvCampoDependiente)}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsRespuesta"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRespuesta;"></tr>

          </table>

          <div class="centerMatCard" [hidden]="respuestaCampoList != undefined && respuestaCampoList.data.length == 0 ">
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>

      </div>
    </p-dialog>