<div>
  <div class="row content-params">
    <div id="divContaineradd" class="container-window">
      <mat-card class="centerMatCardFilterAssociated">
        <form name="formRegistro" [formGroup]="formGeneral">
          <span class="login100-form-title p-b-34 p-t-27">
            Causales de Descarte
          </span>
          <br>
          <div class="row">

            <div class="col-sm">
              <div class="form-group row">
                <mat-form-field class="matForm70">
                  <input type="text" placeholder="Nombre" [(ngModel)]="causalDescarte.nombre" matInput maxlength="150"
                    formControlName="nombre" required name="nombre" id="nombre">
                  <mat-error class="matError" *ngIf="formGeneral.get('nombre').hasError('required')">Campo requerido
                  </mat-error>
                </mat-form-field>

              </div>
            </div>


            <div class="col-sm">
              <div class="form-group row">
                <label>Estado&nbsp;</label>
                <mat-slide-toggle placeholder="Estado" id="estado" required [(ngModel)]="estado"
                  formControlName="estado">
                  {{estado ? 'Activo' : 'Inactivo'}}
                </mat-slide-toggle>

              </div>
            </div>

          </div>
          <br />
          <div class="scaleView pb-2">
            <div style="text-align: center;">
              <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="submit()">
                <i class="material-icons">save</i>&nbsp;
                Guardar
              </button>
              &nbsp;<button color="primary" mat-raised-button (click)="getAll(1)">
                <i class="material-icons">search</i>&nbsp;
                Buscar
              </button>&nbsp;
              <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="clean()">
                <i class="material-icons">delete</i>&nbsp;
                Limpiar
              </button>

            </div>
          </div>

        </form>
      </mat-card>
    </div>
    <br>
    <div id="divContaineradd" class="container-window">
      <mat-card class="centerMatCardFilterAssociated">
        <span class="login100-form-title p-b-10 p-t-27">
          Listado de Causales de Descarte
        </span>

        <div class="row pt-2">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-8">
                <mat-form-field style="width: 80%;">
                  <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtro" matInput
                    name="filtro" id="filtro">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>

        <div #data class="table  table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
          <div style="text-align: center;">
            <table class="table" matSort style="width: 98%;" mat-table [dataSource]="causalDescarteList">
              <!-- Edit Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acci&oacute;n
                </th>
                <td mat-cell *matCellDef="let element" style="word-wrap: break-word">
                  <button (click)="edit(element)">
                    <i title="Editar" class="fa fa-edit"> </i>&nbsp;
                  </button>
                  <button (click)="view(element)" *ngIf="!isDetailVisible">
                    <i title="Visualizar" class="material-icons" style="font-size: 14px;">visibility</i>&nbsp;
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="causalDescarteId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                </th>
                <td mat-cell *matCellDef="let element"> {{element.causalDescarteId}} </td>
              </ng-container>

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre
                </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado
                </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
              </ng-container>

              <!-- Fecha Creacion Column -->
              <ng-container matColumnDef="fechaCreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de
                  Creaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaCreacion)}} </td>
              </ng-container>

              <!-- Fecha Modificacion Column -->
              <ng-container matColumnDef="fechaModificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de
                  Modificaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaModificacion)}}
                </td>
              </ng-container>

              <!-- Usuario Creacion Column -->
              <ng-container matColumnDef="usuarioCreacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de
                  Creaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioCreacion}} </td>
              </ng-container>

              <!-- Usuario Modificacion Column -->
              <ng-container matColumnDef="usuarioModificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de
                  Modificaci&oacute;n </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioModificacion}}
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="isDetailVisible ? displayedColumnsDetail: displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: isDetailVisible ? displayedColumnsDetail: displayedColumns;">
              </tr>

            </table>


            <div class="centerMatCard"
              [hidden]="causalDescarteList != undefined && causalDescarteList.data.length == 0 || isDetailVisibleCol">
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>


      </mat-card>
    </div>

    <p-dialog header="Listado de Causales de Descarte" [(visible)]="isDetailVisible" (onHide)="closeModal()"
      [modal]="true" width="95%" [closable]="true" [responsive]="true" [style]="{width: '95%'}" [minY]="200"
      [maximizable]="true">

      <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
        <div style="text-align: center;" [innerHTML]="tableHTML">

        </div>
      </div>
    </p-dialog>