<div id="divContaineradd" class="container-window">
    <mat-card class="centerMatCardFilterAssociated">
        <form name="formRegistro" [formGroup]="formGeneral">
            <span class="login100-form-title p-b-34 p-t-27">
                Validaci&oacute;n de Formularios
            </span>
            <br>
            <div class="row">



                <div class="col-sm">
                    <div class="form-group row">
                        <mat-form-field class="matForm70">
                            <mat-select placeholder="Formulario" [(ngModel)]="formularioValidacion.fvFormulario.formularioId" required formControlName="fvFormulario">
                                <mat-option *ngFor="let item of formularioList" [value]="item.formularioId">
                                    {{item.nombre}}</mat-option>
                            </mat-select>
                            <mat-error class="matError" *ngIf="formGeneral.get('fvFormulario').hasError('required')">Campo requerido
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>


                <div class="col-sm">
                    <div class="form-group row">
                        <mat-form-field class="matForm70">
                            <mat-select placeholder="Campo" [(ngModel)]="formularioValidacion.fvCampoDocumento.campoId" required formControlName="fvCampoDocumento">
                                <mat-option *ngFor="let item of campoDocumentoList" [value]="item.campoId">
                                    {{item.nombre}}</mat-option>
                            </mat-select>
                            <mat-error class="matError" *ngIf="formGeneral.get('fvCampoDocumento').hasError('required')">Campo requerido
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>


                <div class="col-sm">
                    <div class="form-group row">
                        <mat-form-field class="matForm70">
                            <mat-select placeholder="Validación" [(ngModel)]="formularioValidacion.fvCampoTpDocumento.campoId" required formControlName="fvCampoTpDocumento">
                                <mat-option *ngFor="let item of campoTipoDocumentoList" [value]="item.campoId">
                                    {{item.nombre}}</mat-option>
                            </mat-select>
                            <mat-error class="matError" *ngIf="formGeneral.get('fvCampoTpDocumento').hasError('required')">Campo requerido
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm">
                    <div class="form-group row">
                        <label>Consulta en Lista de Control&nbsp;</label>
                        <mat-slide-toggle placeholder="Estado" id="consultaListaControl" required [(ngModel)]="consultaListaControl" formControlName="consultaListaControl">
                            {{consultaListaControl ? 'SI' : 'NO'}}
                        </mat-slide-toggle>

                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group row">
                        <label>Consulta en Centrales de Riesgo&nbsp;</label>
                        <mat-slide-toggle placeholder="Estado" id="consultaCentralRiesgo" required [(ngModel)]="consultaCentralRiesgo" formControlName="consultaCentralRiesgo">
                            {{consultaCentralRiesgo ? 'SI' : 'NO'}}
                        </mat-slide-toggle>

                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group row">
                        <label>Centrales de Riesgo para no asociados&nbsp;</label>
                        <mat-slide-toggle placeholder="Estado" id="consultaCentralRiesgoNA" required [(ngModel)]="consultaCentralRiesgoNA" formControlName="consultaCentralRiesgoNA">
                            {{consultaCentralRiesgoNA ? 'SI' : 'NO'}}
                        </mat-slide-toggle>

                    </div>
                </div>

            </div>

            <div class="row">


                <div class="col-sm">
                    <div class="form-group row">
                        <label>Consulta en el BUC&nbsp;</label>
                        <mat-slide-toggle placeholder="Estado" id="consultaBUC" required [(ngModel)]="consultaBUC" formControlName="consultaBUC">
                            {{consultaBUC ? 'SI' : 'NO'}}
                        </mat-slide-toggle>

                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group row">
                        <label>Consulta en PeopleNet&nbsp;</label>
                        <mat-slide-toggle placeholder="Estado" id="consultaPeopleNet" required [(ngModel)]="consultaPeopleNet" formControlName="consultaPeopleNet">
                            {{consultaPeopleNet ? 'SI' : 'NO'}}
                        </mat-slide-toggle>

                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group row">
                        <label>&nbsp;</label>

                    </div>
                </div>

            </div>
            <br />
            <div class="scaleView pb-2">
                <div style="text-align: center;">
                    <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="submit()">
                        <i class="material-icons">save</i>&nbsp;
                        Guardar
                    </button> &nbsp;
                    <button color="primary" mat-raised-button (click)="getAll(1)">
                        <i class="material-icons">search</i>&nbsp;
                        Buscar
                    </button>&nbsp;
                    <button mat-raised-button style="background-color: #73bf45; color: white;" (click)="clean()">
                        <i class="material-icons">delete</i>&nbsp;
                        Limpiar
                    </button>

                </div>
            </div>

        </form>
    </mat-card>
</div>
<br>
<div id="divContaineradd" class="container-window">
    <mat-card class="centerMatCardFilterAssociated">
        <span class="login100-form-title p-b-10 p-t-27">
            Listado de Validaci&oacute;n de Formularios
        </span>

        <div class="row pt-2">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-8">
                        <mat-form-field style="width: 80%;">
                            <input type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtro" matInput name="filtro" id="filtro">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>

        <div #data class="table  table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
            <div style="text-align: center;">
                <table class="table" style="width: 98%;" matSort mat-table [dataSource]="formularioValidacionList">
                    <!-- Edit Column -->
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acci&oacute;n
                        </th>
                        <td mat-cell *matCellDef="let element" style="word-wrap: break-word">
                            <button (click)="edit(element);">
                                <i title="Editar" class="fa fa-edit"> </i>&nbsp;
                            </button>
                            <button (click)="view(element)" *ngIf="!isDetailVisible">
                                <i title="Visualizar" class="material-icons" style="font-size: 14px;">visibility</i>&nbsp;
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="formularioNombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Formulario
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.fvFormulario.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="campoDocumento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Campo
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.fvCampoDocumento.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="campoTipoDocumento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Validación
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.fvCampoTpDocumento.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="centralRiesgo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Centrales de Riesgo para no asociados
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.centralRiesgo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="consultaBuc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Consulta en el BUC
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.consultaBuc}} </td>
                    </ng-container>

                    <ng-container matColumnDef="consultaCentralRiesgo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Consulta en Centrales de Riesgo
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.consultaCentralRiesgo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="consultaListaControl">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Consulta en Lista de Control
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.consultaListaControl}} </td>
                    </ng-container>

                    <ng-container matColumnDef="consultaPeopleNet">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Consulta en PeopleNet
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.consultaPeopleNet}} </td>
                    </ng-container>

                    <!-- Fecha Creacion Column -->
                    <ng-container matColumnDef="fechaCreacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creaci&oacute;n </th>
                        <td mat-cell *matCellDef="let element"> {{appCons.convertDate(element.fechaCreacion)}}
                        </td>
                    </ng-container>

                    <!-- Fecha Modificacion Column -->
                    <ng-container matColumnDef="fechaModificacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Modificaci&oacute;n
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{appCons.convertDate(element.fechaModificacion)}}
                        </td>
                    </ng-container>

                    <!-- Usuario Creacion Column -->
                    <ng-container matColumnDef="usuarioCreacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de Creaci&oacute;n </th>
                        <td mat-cell *matCellDef="let element"> {{element.usuarioCreacion}} </td>
                    </ng-container>

                    <!-- Usuario Modificacion Column -->
                    <ng-container matColumnDef="usuarioModificacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario de Modificaci&oacute;n </th>
                        <td mat-cell *matCellDef="let element"> {{element.usuarioModificacion}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="isDetailVisible ? displayedColumnsDetail: displayedColumns">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: isDetailVisible ? displayedColumnsDetail: displayedColumns;">
                    </tr>

                </table>

                <div class="centerMatCard" [hidden]="formularioValidacionList != undefined && formularioValidacionList.data.length == 0 || isDetailVisibleCol">
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>


    </mat-card>
</div>

<p-dialog header="Listado de Validación de Formularios" [(visible)]="isDetailVisible" (onHide)="closeModal()" [modal]="true" width="95%" [closable]="true" [responsive]="true" [style]="{width: '95%'}" [minY]="200" [maximizable]="true">

    <div class="table table-striped table-responsive-md btn-table" style="overflow-x: scroll;width:98%">
        <div style="text-align: center;" [innerHTML]="tableHTML">

        </div>
    </div>
</p-dialog>