// /* You can add global styles to this file, and also import other style files */
// @import "bootstrap/bootstrap";
// @import "spinner";
// @import "utils";
// @import "rtl";
// @import "responsive";

// .form-control:disabled, .form-control[readonly],
// .form-control-sm:disabled, .form-control-sm[readonly] {
//     // background-color: #d1d4d6;
//     // opacity: 1;
//     cursor: no-drop;
// }

// .form-control-sm:disabled, .form-control[readonly] {
//     background-color: #e9ecef;
//     opacity: 1;
// }

// .center-sc{
//   display: flex;
//   justify-content: center;
// }

// .hand{
//     cursor: pointer;
// }

// .form-row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -5px;
//     margin-left: -5px;

//     > .col,
//     > [class*="col-"] {
//        padding: 6px;
//       padding-right: 20px;
//       padding-left: 20px;
//     }
//   }

//   @include media-breakpoint-up(lg) {
//     .modal-lg { max-width: 900px; }
//   }

//   .icon-pad {
//     padding: 0.375rem 0.75rem;
//     padding-top: 0.7rem;
// }

// .list-group-item {
//     position: relative;
//     display: block;
//     padding: 0.75rem;
//     margin-bottom: -1px;
//     background-color: #fff;
//     border: 1px solid rgba(0, 0, 0, 0.125);
// }

// .input-underline {
//     background: 0 0;
//     border: none;
//     box-shadow: none;
//     // border-bottom: 2px solid  #00adf1;//rgba(255, 255, 255, 0.5);
//      border-bottom: 1px solid #9da3a8;
//     color: #000;
//     border-radius: 0;
// }

// .col-form-label-sm {
//      padding-bottom: 0px
// }

// label {
//      margin-bottom: 0rem;
// }

// // .card-header {
// //      padding: 0rem;
// //     /* margin-bottom: 0; */
// //     background-color: rgba(0, 0, 0, 0.03);
// //     /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
// // }

// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type=number] { -moz-appearance:textfield; }

// // .form-control-sm[type=text]{
// //     width: 60%;
// //     border: 1px solid #ced4da;
// //     border-radius: 0.25rem;
// // }

// //Anchura del label

// .salary{
//     width: 103px;
// }

// .medium-numbers{
//     width: 73px;
// }

// .short-numbers{
//     width: 53px;
// }

// .date-input{
//     width: 90px;
// }

// .input-filter{
//     border: 1px solid #ced4da;
//     border-radius: 0.25rem;
// }


// // .title{
// //     font-family: serif;
// //     font-size: 1.2rem;
// // }

// // h2{
// //     font-family: serif;
// // }

// // .body-text{
// //     font-family: sans-serif;
// // }

// table{
//     text-align: start;
// }

// table th{
//     text-align: center;
// }

// ::placeholder{
//     color:rgb(192, 192, 192);
// }

//  .table td {
//     box-shadow: 0 0 0 0.15px rgb(201, 201, 201);
//     vertical-align: middle;
// }

// .picture-marc{
//     outline: 3px dashed #ccc;
//     outline-offset: 5px;
// }

// .card-header {
//     color: white;
//     background: linear-gradient(6deg, #3798ff 50%, #ddd);
// }

// .hrv{

//     border:         none;
//     border-left:    1px solid hsla(200, 10%, 50%,100);
//     height:         29px;
//     margin-top: 0;
//     margin-bottom: 0;
//     // width:          1px;
// }

// .hrv1{

//     border:         none;
//     border-left:    1px solid hsla(200, 10%, 50%,100);
//     height:         26px;
//     margin-top: 0;
//     margin-bottom: 0;
//     // width:          1px;
// }

// .hrv2{
//     margin-left: 10px;
//     margin-right: 10px;
//     border: none;
//     border-left: 1px solid #73848c;
//     height: 29px;
//     margin-top: 0;
//     margin-bottom: 0;
//     // width:          1px;
// }

// button{
//     cursor: pointer;
// }

// input[type=submit] {

//     cursor: pointer;

// }

// .btn{

//     cursor: pointer;
// }

// input[type=button] {

//     cursor: pointer;

// }

// .subcard-header {
//     width: fit-content;
//     /* color: white; */
//     /* background: linear-gradient(6deg, #3798ff 50%, #ddd); */
//     padding: 0 0.4rem;
//     margin-bottom: 0;
//     /* background-color: rgba(0, 0, 0, 0.03); */
//     border-bottom: 1px solid rgba(0, 0, 0, 0.125);
//     border-right: 1px solid rgba(0, 0, 0, 0.125);
// }

// .subcard {
//     // margin: 0 10px;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     min-width: 0;
//     word-wrap: break-word;
//     background-color: $card-bg;
//     background-clip: border-box;
//     border: $card-border-width solid $card-border-color;
//     // @include border-radius($card-border-radius);

//     .title{
//     font-family: monospace;
//     font-size: 15px;
//     color: burlywood;
//     }

//     > hr {
//       margin-right: 0;
//       margin-left: 0;
//     }

//     > .list-group:first-child {
//       .list-group-item:first-child {
//         @include border-top-radius($card-border-radius);
//       }
//     }

//     > .list-group:last-child {
//       .list-group-item:last-child {
//         @include border-bottom-radius($card-border-radius);
//       }
//     }

//     .form-row {
//         display: flex;
//         flex-wrap: wrap;
//         margin-right: -5px;
//         margin-left: -5px;

//         > .col,
//         > [class*="col-"] {
//            padding: 6px;
//           padding-right: 10px;
//           padding-left: 10px;
//         }
//       }
//   }



